doctype html
html(lang='en')
  | !{'{{ partial "head" . }}'}
  body
    include ../partials/navbar.pug
    .main.blog
      .container
        .row
          .col-sm-12.col-lg-8.offset-lg-2
            .blog-content.py-4
              include ../partials/blog-meta-data.pug
              h1.blog-header #{'{{ .Title }}'}
              .markdown.blog-body #{'{{.Content}}'}

        .row
          .col-sm-12.col-lg-8.offset-lg-2
            .divider.mb-5

        include ../partials/mailchimp-signup-row.pug

        include  ../partials/more-like-this-row.pug

      include ../partials/share-list.pug

      .container.mb-5
        .row
          .col-sm-12.col-lg-6.offset-lg-3
            span !{' {{ template "_internal/disqus.html" . }} '}

    script(type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false")
    script(type="text/javascript")
      | window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"9af9712f622c6511cb2113669","lid":"adb061483c","uniqueMethods":true}) })
    include ../partials/footer.pug


