include  ../partials/head
body
  include ../partials/navbar.pug
  .main.blog
    .container
      .row
        .col-smf-12.col-lg-8.offset-lg-2
          .blog-content.py-4
            include ../partials/blog-meta-data.pug
            h1.blog-header #{'{{ .Title }}'}
            .markdown.blog-body #{'{{.Content}}'}
            .py-4
              include ../partials/social-share.pug
    include ../partials/free-trial-row.pug
  script(type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b5efec24db95a45")
  include ../partials/footer.pug
