include  ../partials/head
body
  include ../partials/navbar.pug
  .main.blog
    .container
      .row
        .col-sm-12.col-md-8.offset-md-2
          .blog-content.py-4
            include ../partials/blog-meta-data.pug
            h1.blog-header #{'{{ .Title }}'}
            .markdown.blog-body #{'{{.Content}}'}
            .py-4
              include ../partials/social-share.pug
    include ../partials/free-trial-row.pug
  include ../partials/footer.pug
