<section class="alerting-section">
  <div class="container">
    <div class="row mb-lg-4 text-center justify-content-center">
      <div class="col-sm-12 col-md-8"><h2 class="section-super-header">Alerting</h2>
        <h3 class="display-4 mb-4">Alerting when and how you want it</h3>
        <img alt="alert notification channels" class="img-w360 mb-4" src="/landing/alerting-options@2x.png"/>
      </div>
      <div class="col-sm-12 col-md-8"><p class="lead-text">Keep your team up to date with a
        generous helping of SMS messages and unlimited email, Pagerduty, Slack and web hook
        notifications. Control exactly how, when and how often you get alerted. Of course, "double-checking" is enabled
        by default to never get false positives.</p>
        <a class="cta-link" href="/docs/alerting">Learn more</a>
        <div class="mb-4 mb-lg-0">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <img alt="alerting settings" class="alerting-image big-drop-shadow img-fluid" src="/landing/alert-settings-v2@2x.png"/></div>
    </div>
  </div>
</section>
