<footer class="footer">
  <div class="container">
    <div class="row footer-top">
      <div class="col-sm-2">
        <div class="mb-3 mb-md-0">
          <img src="/images/text_racoon_logo.svg" width="100px" alt="checkly logo"/>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="mb-3 mb-md-0">
          <h6>Product</h6>
          <ul>
            <li>
              <a href="/product/api-monitoring/">API monitoring</a>
            </li>
            <li>
              <a href="/product/synthetic-monitoring/">Synthetic monitoring</a>
            </li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/docs">Docs</a></li>
            <li><a href="/docs/api">API reference</a></li>
            <li><a href="https://headwayapp.co/checkly-updates" target="_blank">Product updates</a></li>
            <li><a href="https://status.checklyhq.com/" target="_blank">Live dashboard</a><span
                class="green-dot"></span></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="mb-3 mb-md-0"><h6>Company</h6>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/jobs">Jobs
            </a></li>
            <li><a href="https://blog.checklyhq.com/" target="_blank">Blog</a></li>
            <li><a href="/terms">Terms of Use</a></li>
            <li><a href="/privacy">Privacy policy</a></li>
            <li><a href="/security">Security</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="mb-3 mb-md-0"><h6>Connect</h6>
          <ul>
            <li><a class="open-intercom-link" href="mailto:support@checklyhq.com">Support</a></li>
            <li><a href="https://twitter.com/checklyHQ" target="_blank">Twitter @ChecklyHQ</a></li>
            <li><a href="https://github.com/checkly/product-roadmap/projects/1" target="_blank">Public Roadmap</a></li>
          </ul>
        </div><br/>
        <div class="mb-3 mb-md-0"><h6>How we compare</h6>
          <ul>
            <li><a href="/alternative/to-pingdom/">Alternative to Pingdom</a></li>
            <li><a href="/alternative/to-runscope/">Alternative to Runscope</a></li>
            <li><a href="/alternative/to-assertible/">Alternative to Assertible</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row footer-bottom">
      <div class="col-12">
        <span>©2020 Checkly Inc. All Rights Reserved.</span>
        <div class="float-right"><a href="https://twitter.com/checklyhq" target="_blank"><img
            src="/images/twitter.svg" alt="twitter logo"/></a></div>
      </div>
    </div>
  </div>
</footer>
