<head>
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | Checkly {{ end }}</title>
  <meta charset="utf-8" />
  <meta name="description" content="{{ with .Description }}{{ . | markdownify }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . | markdownify}}{{ end }}{{ end }}{{ end }}" />
  <meta name="viewport" content="width=device-width" initial-scale="1" maximum-scale="1" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | Checkly {{ end }}" />
  <meta property="og:description" content="{{ with .Description }}{{ . | markdownify }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . | markdownify}}{{ end }}{{ end }}{{ end }}" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  <meta property="og:image" content="{{ if .Params.featured_image }}{{ .Params.featured_image }}{{ else}}https://checklyhq.com/images/dashboard-screen@2x.png{{end}}" />
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | Checkly {{ end }}" />
  <meta property="twitter:description" content="{{ with .Description }}{{ . | markdownify }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . | markdownify}}{{ end }}{{ end }}{{ end }}" />
  <meta property="og:image" content="{{ if .Params.featured_image }}{{ .Params.featured_image }}{{ else }}https://checklyhq.com/images/dashboard-screen@2x.png{{end}}" />
  <meta name="msvalidate.01" content="36F243A91FAA24DE468D8A8EECF33554" />
  <link rel="icon" type="image/png" href="/images/racoon_favicon.png" />
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"/>
  <link rel="alternate" href="{{ .Permalink }}" hreflang="en-us" />
  <link rel="canonical" href="{{ .Permalink }}" />
  <!-- main styles-->
  <link rel="stylesheet" href="/css/style.css" />
  <script async src="https://cdn.cookielaw.org/consent/e4c8a868-c0ad-4c0c-b61e-f6eb6cad2810.js" type="text/javascript" charset="UTF-8"></script>
  <script type="text/javascript">
    function OptanonWrapper() {}
  </script>
  <style>
    .qc-cmp-ui {
      background-color: #45c8f1 !important;
    }

    .qc-cmp-publisher-purposes-table .qc-cmp-table-header {
      background-color: #fafafa !important;
    }

    .qc-cmp-publisher-purposes-table .qc-cmp-table-row {
      background-color: #ffffff !important;
    }
  </style>
  <!-- Global site tag (gtag.js) - Google Analytics-->
  <script type="text/plain" async src="https://www.googletagmanager.com/gtag/js?id=UA-110523681-1" class="optanon-category-2"></script>
  <script type="text/plain" async class="optanon-category-2">
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-110523681-1');
  </script>
  <!-- Drift code-->
  <script type="text/plain" async class="optanon-category-2">
    {{ if ne .Section "blog" }}
      if (location.host === 'checklyhq.com') {
        !(function() {
          var t = window.driftt = window.drift = window.driftt || []
          if (!t.init) {
            if (t.invoked) return void(window.console && console.error && console.error('Drift snippet included twice.'))
            t.invoked = !0, t.methods = ['identify', 'config', 'track', 'reset', 'debug', 'show', 'ping', 'page', 'hide', 'off', 'on'],
              t.factory = function(e) {
                return function() {
                  var n = Array.prototype.slice.call(arguments)
                  return n.unshift(e), t.push(n), t
                }
              }, t.methods.forEach(function(e) {
              t[e] = t.factory(e)
            }), t.load = function(t) {
              var e = 3e5,
                n = Math.ceil(new Date() / e) * e,
                o = document.createElement('script')
              o.type = 'text/javascript', o.async = !0, o.crossorigin = 'anonymous', o.src = 'https://js.driftt.com/include/' + n + '/' + t + '.js'
              var i = document.getElementsByTagName('script')[0]
              i.parentNode.insertBefore(o, i)
            }
          }
        }())
        drift.SNIPPET_VERSION = '0.3.1'
        drift.load('7bxit3egu3zv')
      }
    {{ end }}
  </script>

  <!-- Reddit Conversion Pixel -->
  <script type="text/plain" async class="optanon-category-2">
    !function(w,d){if(!w.rdt){var p=w.rdt=function(){p.sendEvent?p.sendEvent.apply(p,arguments):p.callQueue.push(arguments)};p.callQueue=[];var t=d.createElement("script");t.src="https://www.redditstatic.com/ads/pixel.js",t.async=!0;var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(t,s)}}(window,document);rdt('init','t2_3og4himk');rdt('track', 'PageVisit');
  </script>
  <!-- End Reddit Conversion Pixel -->


  <script async src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
</head>
