<section class="hero-section">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-sm-12 col-md-8">
        <h1 class="display-3 mb-4">Active Reliability for Modern DevOps Teams</h1>
        <p class="lead mb-4">Monitor the performance and
          correctness of your API endpoints & vital site transactions from a single,
          simple dashboard.</p>
        <div class="mb-4">
          <a class="signup-button btn btn-success btn-lg" data-signup="data-signup"
                             href="https://app.checklyhq.com/signup">Start your free trial</a></div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <img class="hero-image img-fluid" src="/landing/home-dashboard@2x.png" alt="checkly monitoring dashboard"/>
      </div>
    </div>
</section>
