<section class="learn-headless-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <div class="text-side text-left"><h2 class="section-super-header">Monitoring and testing</h2>
          <h3 class="section-header">Learn headless automation</h3>
          <p class="lead-text">Starting where the Puppeteer and Playwright docs end, theheadless.dev is a living, free and open-source knowledge base built to help you master modern headless browser automation tools.
            <br>It offers self-contained guides, runnable examples, deep-dives on real-world challenges and tips from the trenches.<br>
            </p><a class="cta-link" href="https://theheadless.dev">Start learning</a>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="image-side right"><img
            alt="synthetic monitoring"
            class="big-landing-image big-drop-shadow screenshots fade-in ml-md-5 lazy hidden-md-down"
            src="/landing/headless.png"/></div>
      </div>
    </div>
  </div>
</section>
