<section class="testimonial-section testimonial-3">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-sm-12 col-lg-10">
        <div class="mb-lg-5"><p class="testimonial-text">"Checkly is incredible: It combines Pingdom, Ghost
          Inspector and Assertible all in the same app, and the insights are much more detailed."</p>
          <div class="testimonial-name-badge">
            <div class="text-muted">Leo Lamprecht | SVP Product<a class="testimonial-logo" href="https://zeit.co/"
                                                                      target="_blank">
              <svg height="20" transform="translate(5,4)" viewBox="0 0 94 20" width="94">
                <g fill="var(--geist-foreground)" fill-rule="evenodd" stroke="none" stroke-width="1">
                  <polygon points="11.0541053 0 22.1082105 19.6826969 0 19.6826969"></polygon>
                  <path
                      d="M35.046 15.078h8.357v-1.456H37.13l6.171-8.84v-1.27h-8.153v1.455h6.069l-6.171 8.84v1.27zm17.104 0h7.5v-1.456h-5.804V9.91h5.047V8.454h-5.047V4.967h5.803V3.511h-7.5v11.567zm16.531 0h7.316v-1.456h-2.8V4.967h2.8V3.511h-7.316v1.456h2.82v8.655h-2.82v1.456zm19.352 0h1.696V4.968h3.924V3.51H84.15v1.456h3.883v10.11z"></path>
                </g>
              </svg>
            </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
