<section class="testimonial-section testimonial-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="card testimonial-card mb-5 mb-md-0">
          <div class="card-block"><a href="https://1password.com" target="_blank"><img class="testimonial-logo"
                                                                                        src="/images/testimonials/1password_logo.png"/></a>
            <p class="testimonial-text">"The flexible features and developer-friendly API made the integration super easy. Checkly is a fabulous developer tool! Bonus: their support is super friendly and knowledgeable!"</p>
            <div class="testimonial-portrait"><img src="/images/testimonials/1password_portrait.jpeg" class="rounded-circle" /></div>
            <div class="testimonial-name-badge">
              <div class="text-muted font-weight-bold">Connor Hicks</div>
              <div class="text-muted">Lead Developer - Platform Integrations</div>
              <a class="text-muted" href="https://1password.com/" target="_blank">1password.com</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card testimonial-card mb-5 mb-md-0">
          <div class="card-block"><a href="https://supplypike.com" target="_blank"><img class="testimonial-logo"
                                                                                        src="/images/testimonials/supplypike_logo.png"/></a>
            <p class="testimonial-text">"Checkly helps our teams to ship code more confidently and guide data-driven
              decision making.
              Integrations with tools like Prometheus and PagerDuty make the adoption seamless."</p>
            <div class="testimonial-portrait"><img src="/images/testimonials/supplypike_portrait.png"/></div>
            <div class="testimonial-name-badge">
              <div class="text-muted font-weight-bold">Kanat Bekterimov</div>
              <div class="text-muted">Software Engineer Manager</div>
              <a class="text-muted" href="https://supplypike.com/" target="_blank">supplypike.com</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card testimonial-card mb-5 mb-md-0">
          <div class="card-block"><a href="http://www.dfuse.io/" target="_blank"><img alt="dfuse logo"
                                                                                      class="testimonial-logo"
                                                                                      src="/images/testimonials/dfuse_logo.png"/></a>
            <p class="testimonial-text">"Checkly is super easy to setup and the best option for us to test our Websocket
              API.
              We depend on it 24/7 and it’s our go-to place when PagerDuty wakes us up at 3am"</p>
            <div class="testimonial-portrait"><img alt="customer portrait"
                                                   src="/images/testimonials/dfuse_portrait.png"/></div>
            <div class="testimonial-name-badge">
              <div class="text-muted font-weight-bold">François Proulx</div>
              <div class="text-muted">Senior DevSecOps</div>
              <a class="text-muted" href="http://www.dfuse.io/" target="_blank">dfuse.io</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
