<section class="testimonial-section testimonial-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card testimonial-card mb-5 mb-md-0">
          <div class="card-block first">
            <a href="https://1password.com" target="_blank" rel="noopener">
              <picture>
                <source type="image/webp" srcset="/landing/supplypike_logo@2x.webp">
                <source type="image/png" srcset="/landing/supplypike_logo@2x.png">
                <img class="testimonial-logo" src="/landing/supplypike_logo@2x.png" alt="supplypike logo" width="150" height="25" />
              </picture>
            </a>
            <p class="testimonial-text">"Checkly helps our teams to ship code more confidently and guide data-driven
              decision making.
              Integrations with tools like Prometheus and PagerDuty make the adoption seamless."</p>
            <div class="testimonial-portrait"><img src="/images/testimonials/supplypike_portrait.png" alt="Kanat Bekterimov" width="55" height="55" /></div>
            <div class="testimonial-name-badge">
              <div class="text-muted font-weight-bold">Kanat Bekterimov</div>
              <div class="text-muted">Software Engineer Manager</div>
              <a class="text-muted" href="https://supplypike.com/" target="_blank" rel="noopener">supplypike.com</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card testimonial-card mb-5 mb-md-0">
          <div class="card-block second">
            <a href="http://www.dfuse.io/" target="_blank" rel="noopener">
              <picture>
                <source type="image/webp" srcset="/landing/dfuse_logo@2x.webp">
                <source type="image/png" srcset="/landing/dfuse_logo@2x.png">
                <img class="testimonial-logo" src="/landing/dfuse_logo@2x.png" alt="dfuse logo" width="110" height="26" />
              </picture>
            </a>
            <p class="testimonial-text">"Checkly is super easy to setup and the best option for us to test our Websocket
              API.
              We depend on it 24/7 and it’s our go-to place when PagerDuty wakes us up at 3am"</p>
            <div class="testimonial-portrait">
              <img alt="customer portrait" src="/images/testimonials/dfuse_portrait.png" alt="François Proulx" width="55" height="55" />
            </div>
            <div class="testimonial-name-badge">
              <div class="text-muted font-weight-bold">François Proulx</div>
              <div class="text-muted">Senior DevSecOps</div>
              <a class="text-muted" href="http://www.dfuse.io/" target="_blank" rel="noopener">dfuse.io</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="card testimonial-card mb-5 mb-md-0">
          <div class="card-block third">
            <a href="http://www.dfuse.io/" target="_blank" rel="noopener">
              <picture>
                <source type="image/webp" srcset="/landing/lyfegen_logo@2x.webp">
                <source type="image/png" srcset="/landing/lyfegen_logo@2x.png">
                <img class="testimonial-logo" src="/landing/lyfegen_logo@2x.png" alt="dfuse logo" width="110" height="28" />
              </picture>
            </a>
            <p class="testimonial-text">"Checkly is super easy to setup and the best option for us to test our Websocket
              API.
              We depend on it 24/7 and it’s our go-to place when PagerDuty wakes us up at 3am"</p>
            <div class="testimonial-portrait">
              <img alt="customer portrait" src="/images/testimonials/lyfegen_portrait.png" alt="James Gannon" width="55" height="55" />
            </div>
            <div class="testimonial-name-badge">
              <div class="text-muted font-weight-bold">James Gannon</div>
              <div class="text-muted">Chief Digital Officer</div>
              <a class="text-muted" href="http://www.dfuse.io/" target="_blank" rel="noopener">lyfegen.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
