<section class="workflow-section">
  <div class="container">
    <div class="row mb-lg-4 text-center justify-content-center mb-5">
      <div class="col-sm-12 col-md-8"><h2 class="section-super-header">workflow</h2>
        <h3 class="display-4 mb-4">Integrates with your workflow</h3>
      </div>
      <div class="col-sm-12 col-md-8">
        <p class="lead mb-4">Checkly integrates with the open source & developer tools you use on a daily basis.</p>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="d-flex align-items-center mb-3" style="height: 80px;">
          <picture>
            <source type="image/webp" srcset="/landing/puppeteer-logo.webp">
            <source type="image/png" srcset="/landing/puppeteer-logo.png">
            <img  alt="puppeteer playwright logo" src="/landing/puppeteer-logo.png"/>
          </picture>
          <span alt="playwright logo" class="pl-2" style="font-size: 55px;">🎭</span>
        </div>
        <h5>Puppeteer & Playwright</h5>
        <p>Harness the full power of the Puppeteer & Playwright frameworks to test and monitor your web apps.</p>
        <a class="cta-link" href="/docs/browser-checks">Learn more</a>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="d-flex align-items-center mb-3" style="height: 80px;">
          <picture>
            <source type="image/webp" srcset="/landing/javascript-logo.webp">
            <source type="image/png" srcset="/landing/javascript-logo.png">
            <img alt="node.js logo" src="/landing/javascript-logo.png"/>
          </picture>
        </div>
        <h5>Javascript</h5>
        <p>Extend your monitoring with Javascript for custom authentication and test logic.</p>
        <a class="cta-link" href="/docs/api-checks/setup-teardown-scripts/">Learn more</a>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="d-flex align-items-center mb-3" style="height: 80px;">
          <picture>
            <source type="image/webp" srcset="/landing/github-logo.webp">
            <source type="image/png" srcset="/landing/github-logo.png">
            <img alt="github logo" src="/landing/github-logo.png"/>
          </picture>
        </div>
        <h5>GitHub</h5>
        <p>Run your checks as tests on each <code>git push</code> and get results in your PR comments.</p>
        <a class="cta-link" href="/docs/cicd/github/">Learn more</a>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="d-flex align-items-center mb-3" style="height: 80px;">
          <picture>
            <source type="image/webp" srcset="/landing/prometheus-logo.webp">
            <source type="image/png" srcset="/landing/prometheus-logo.png">
            <img alt="prometheus logo" src="/landing/prometheus-logo.png"/>
          </picture>
        </div>
        <h5>Prometheus</h5>
        <p>Export uptime and status data to your Prometheus cluster.</p>
        <a class="cta-link" href="/docs/integrations/prometheus/">Learn more</a>
      </div>
    </div>
  </div>
</section>
