{"swagger":"2.0","host":"api.checklyhq.com","basePath":"/","schemes":["https"],"info":{"title":"Checkly API","version":"V1 (beta)","description":"Checkly public API"},"produces":["application/json"],"consumes":["application/json"],"securityDefinitions":{"Bearer":{"type":"apiKey","name":"Authorization","in":"header","x-keyPrefix":"Bearer "}},"security":[{"Bearer":[]}],"tags":[],"paths":{"/v1/alert-channels":{"get":{"summary":"List all alert channels","operationId":"getV1Alertchannels","description":"Lists all configured alert channels and their subscribed checks.","parameters":[{"type":"number","default":10,"minimum":1,"maximum":100,"name":"limit","in":"query"},{"type":"number","x-constraint":{"positive":true},"name":"page","in":"query"}],"consumes":["application/json"],"produces":["application/json"],"tags":["Alert channels"],"responses":{"200":{"schema":{"$ref":"#/definitions/AlertChannelsList","type":"array"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"}}}},"/v1/alert-channels/{id}":{"get":{"summary":"Retrieve an alert channel","operationId":"getV1AlertchannelsId","description":"Show details of a specific alert channel.","parameters":[{"type":"number","name":"id","in":"path","required":true}],"consumes":["application/json"],"produces":["application/json"],"tags":["Alert channels"],"responses":{"200":{"schema":{"$ref":"#/definitions/AlertChannel"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model 1"},"description":"Not Found"}}}},"/v1/alert-channels/{id}/subscriptions":{"put":{"summary":"Update the subscriptions of an alert channel","operationId":"putV1AlertchannelsIdSubscriptions","description":"Update the subscriptions of an alert channel. Use this to add a check to an alert channel so failure and recovery alerts are send out for that check.","parameters":[{"type":"number","name":"id","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/SubscriptionSchema"}}],"consumes":["application/json"],"produces":["application/json"],"tags":["Alert channels"],"responses":{"200":{"schema":{"$ref":"#/definitions/SubscriptionSchema"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model 1"},"description":"Not Found"}}}},"/v1/check-results-rolled-up/{checkId}":{"get":{"summary":"Lists all rolled up check results","operationId":"getV1CheckresultsrolledupCheckid","description":"Lists the rolled up check results *per hour* for a specific check. <br><br>This means that one hour after a raw result for a check is recorded, it is also available in the rolled up results. <br><br>The result contains all discrete response times and aggregated counters for failing and successful check. Using this data you can reconstruct averages, percentiles and ratios, approximating the individual raw check results very closely. <br><br>You can filter by check type and result type to narrow down the list. Use the `to` and `from` parameters to specify a date range. Depending on the check type, some fields might be null.<br><br>Note that results from this endpoint start at roughly *2019-4-11*, earlier results are not available.","parameters":[{"type":"string","x-format":{"guid":true},"name":"checkId","in":"path","required":true},{"type":"number","default":10,"minimum":1,"maximum":100,"name":"limit","in":"query"},{"type":"number","x-constraint":{"positive":true},"name":"page","in":"query"},{"type":"string","description":"Provide a data center location, e.g. \"eu-west-1\" to filter by location","name":"location","in":"query","required":false},{"type":"number","description":"Select results up to this UNIX timestamp date, i.e. < date","name":"to","in":"query","required":false},{"type":"number","description":"Select results from this UNIX timestamp date, i.e. >= date","name":"from","in":"query","required":false}],"consumes":["application/json"],"produces":["application/json"],"tags":["Check results (rolled up)"],"responses":{"200":{"schema":{"$ref":"#/definitions/RolledUpCheckResultsList","type":"array"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model 1"},"description":"Not Found"}}}},"/v1/check-results/{checkId}":{"get":{"summary":"Lists all check results","operationId":"getV1CheckresultsCheckid","description":"Lists the full, raw check results for a specific check. We keep raw results for 30 days. After 30 days they are erased. However we keep the rolled up results for an indefinite period. <br><br> You can filter by check type and result type to narrow down the list. Use the `to` and `from` parameters to specify a date range (UNIX timestamp in seconds). Depending on the check type, some fields might be null.","parameters":[{"type":"string","x-format":{"guid":true},"name":"checkId","in":"path","required":true},{"type":"number","default":10,"minimum":1,"maximum":100,"name":"limit","in":"query"},{"type":"number","x-constraint":{"positive":true},"name":"page","in":"query"},{"type":"string","description":"Provide a data center location, e.g. \"eu-west-1\" to filter by location","name":"location","in":"query","required":false},{"type":"number","description":"Select results up to this UNIX timestamp date in seconds, i.e. < date","name":"to","in":"query","required":false},{"type":"number","description":"Select results from this UNIX timestamp date in seconds, i.e. >= date","name":"from","in":"query","required":false},{"type":"string","description":"The type of the check","enum":["BROWSER","API"],"name":"checkType","in":"query"},{"type":"boolean","description":"Check result has one or more failures","name":"hasFailures","in":"query"}],"consumes":["application/json"],"produces":["application/json"],"tags":["Check results"],"responses":{"200":{"schema":{"$ref":"#/definitions/CheckResultsList","type":"array"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"}}}},"/v1/check-results/{checkId}/{checkResultId}":{"get":{"summary":"Retrieve a check result","operationId":"getV1CheckresultsCheckidCheckresultid","description":"Show details of a specific check result.","parameters":[{"type":"string","x-format":{"guid":true},"name":"checkId","in":"path","required":true},{"type":"string","x-format":{"guid":true},"name":"checkResultId","in":"path","required":true}],"consumes":["application/json"],"produces":["application/json"],"tags":["Check results"],"responses":{"200":{"schema":{"$ref":"#/definitions/CheckResult"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"},"404":{"schema":{"type":"string"},"description":"Not Found"}}}},"/v1/check-statuses":{"get":{"summary":"List all check statuses","operationId":"getV1Checkstatuses","description":"Shows the current status information for all checks in your account. The check status records are continuously updatedas new check results come in.","consumes":["application/json"],"produces":["application/json"],"tags":["Check status"],"responses":{"200":{"schema":{"$ref":"#/definitions/CheckStatusList","type":"array"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model 2","type":"array"},"description":"Not Found"}}}},"/v1/check-statuses/{checkId}":{"get":{"summary":"Retrieve check status details","operationId":"getV1CheckstatusesCheckid","description":"Show the current status information for a specific check.","parameters":[{"type":"string","x-format":{"guid":true},"name":"checkId","in":"path","required":true}],"consumes":["application/json"],"produces":["application/json"],"tags":["Check status"],"responses":{"200":{"schema":{"$ref":"#/definitions/CheckStatus"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model 1"},"description":"Not Found"}}}},"/v1/checks":{"get":{"summary":"List all checks","operationId":"getV1Checks","description":"Lists all current checks in your account.","parameters":[{"type":"number","default":10,"minimum":1,"maximum":100,"name":"limit","in":"query"},{"type":"number","x-constraint":{"positive":true},"name":"page","in":"query"}],"consumes":["application/json"],"produces":["application/json"],"tags":["Checks"],"responses":{"200":{"schema":{"$ref":"#/definitions/CheckList","type":"array"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"}}},"post":{"summary":"Create a check","operationId":"postV1Checks","description":"Creates a new API or browser check. Will return a `402` when you are over the limit of your plan.\n    When using the `globalAlertSetting`, the `alertSetting` can be `null`","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/CheckCreate"}}],"consumes":["application/json"],"produces":["application/json"],"tags":["Checks"],"responses":{"201":{"schema":{"$ref":"#/definitions/Check"},"description":"Created"},"401":{"schema":{"type":"string"},"description":"Unauthorized"},"402":{"schema":{"type":"string"},"description":"Payment Required"}}}},"/v1/checks/{id}":{"delete":{"summary":"Delete a check","operationId":"deleteV1ChecksId","description":"Permanently removes a API or browser check and all its related status and results data.","parameters":[{"type":"string","x-format":{"guid":true},"name":"id","in":"path","required":true}],"consumes":["application/json"],"produces":["application/json"],"tags":["Checks"],"responses":{"204":{"schema":{"type":"string"},"description":"No Content"},"401":{"schema":{"type":"string"},"description":"Unauthorized"}}},"get":{"summary":"Retrieve a check","operationId":"getV1ChecksId","description":"Show details of a specific API or browser check","parameters":[{"type":"string","x-format":{"guid":true},"name":"id","in":"path","required":true}],"consumes":["application/json"],"produces":["application/json"],"tags":["Checks"],"responses":{"200":{"schema":{"$ref":"#/definitions/Check"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model 1"},"description":"Not Found"}}},"put":{"summary":"Update a check","operationId":"putV1ChecksId","description":"Updates a new API or browser check.","parameters":[{"type":"string","x-format":{"guid":true},"name":"id","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/CheckCreate"}}],"consumes":["application/json"],"produces":["application/json"],"tags":["Checks"],"responses":{"200":{"schema":{"$ref":"#/definitions/Check"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"}}}},"/v1/dashboards":{"get":{"summary":"List all dashboards","operationId":"getV1Dashboards","description":"Lists all current dashboards in your account.","parameters":[{"type":"number","default":10,"minimum":1,"maximum":100,"name":"limit","in":"query"},{"type":"number","x-constraint":{"positive":true},"name":"page","in":"query"}],"consumes":["application/json"],"produces":["application/json"],"tags":["Dashboards"],"responses":{"200":{"schema":{"$ref":"#/definitions/DashboardsList","type":"array"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"}}},"post":{"summary":"Create a dashboard","operationId":"postV1Dashboards","description":"Creates a new dashboard. Will return a 409 when attempting to create a dashboard with a custom URL or custom domain that is already taken.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/DashboardSchema"}}],"consumes":["application/json"],"produces":["application/json"],"tags":["Dashboards"],"responses":{"201":{"schema":{"$ref":"#/definitions/DashboardResponse"},"description":"Created"},"401":{"schema":{"type":"string"},"description":"Unauthorized"},"409":{"schema":{"$ref":"#/definitions/Model 1"},"description":"Conflict"}}}},"/v1/dashboards/{id}":{"delete":{"summary":"Delete a dashboard","operationId":"deleteV1DashboardsId","description":"Permanently removes a dashboard.","parameters":[{"type":"string","name":"id","in":"path","required":true}],"consumes":["application/json"],"produces":["application/json"],"tags":["Dashboards"],"responses":{"204":{"schema":{"type":"string"},"description":"No Content"},"401":{"schema":{"type":"string"},"description":"Unauthorized"}}},"get":{"summary":"Retrieve a dashboard","operationId":"getV1DashboardsId","description":"Show details of a specific dashboard.","parameters":[{"type":"string","name":"id","in":"path","required":true}],"consumes":["application/json"],"produces":["application/json"],"tags":["Dashboards"],"responses":{"200":{"schema":{"$ref":"#/definitions/DashboardResponse"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model 1"},"description":"Not Found"}}},"put":{"summary":"Update a dashboard","operationId":"putV1DashboardsId","description":"Updates a dashboard. Will return a 409 when attempting to create a dashboard with a custom URL or custom domain that is already taken.","parameters":[{"type":"string","name":"id","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/DashboardSchema"}}],"consumes":["application/json"],"produces":["application/json"],"tags":["Dashboards"],"responses":{"200":{"schema":{"$ref":"#/definitions/DashboardResponse"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model 1"},"description":"Not Found"},"409":{"schema":{"$ref":"#/definitions/Model 1"},"description":"Conflict"}}}},"/v1/snippets":{"get":{"summary":"List all snippets","operationId":"getV1Snippets","description":"Lists all current snippets in your account.","parameters":[{"type":"number","default":10,"minimum":1,"maximum":100,"name":"limit","in":"query"},{"type":"number","x-constraint":{"positive":true},"name":"page","in":"query"}],"consumes":["application/json"],"produces":["application/json"],"tags":["Snippets"],"responses":{"200":{"schema":{"$ref":"#/definitions/SnippetsList","type":"array"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"}}},"post":{"summary":"Create a snippet","operationId":"postV1Snippets","description":"Creates a new snippet.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/SnippetCreate"}}],"consumes":["application/json"],"produces":["application/json"],"tags":["Snippets"],"responses":{"201":{"schema":{"$ref":"#/definitions/Snippet"},"description":"Created"},"401":{"schema":{"type":"string"},"description":"Unauthorized"}}}},"/v1/snippets/{id}":{"delete":{"summary":"Delete a snippet","operationId":"deleteV1SnippetsId","description":"Permanently removes a snippet.","parameters":[{"type":"number","name":"id","in":"path","required":true}],"consumes":["application/json"],"produces":["application/json"],"tags":["Snippets"],"responses":{"204":{"schema":{"type":"string"},"description":"No Content"},"401":{"schema":{"type":"string"},"description":"Unauthorized"}}},"get":{"summary":"Retrieve a snippet","operationId":"getV1SnippetsId","description":"Show details of a specific snippet.","parameters":[{"type":"number","name":"id","in":"path","required":true}],"consumes":["application/json"],"produces":["application/json"],"tags":["Snippets"],"responses":{"200":{"schema":{"$ref":"#/definitions/Snippet"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model 1"},"description":"Not Found"}}},"put":{"summary":"Update a snippet","operationId":"putV1SnippetsId","description":"Updates a snippet.","parameters":[{"type":"number","name":"id","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/SnippetCreate"}}],"consumes":["application/json"],"produces":["application/json"],"tags":["Snippets"],"responses":{"200":{"schema":{"$ref":"#/definitions/Snippet"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model 1"},"description":"Not Found"}}}},"/v1/variables":{"get":{"summary":"List all environment variables","operationId":"getV1Variables","description":"Lists all current environment variables in your account.","parameters":[{"type":"number","default":10,"minimum":1,"maximum":100,"name":"limit","in":"query"},{"type":"number","x-constraint":{"positive":true},"name":"page","in":"query"}],"consumes":["application/json"],"produces":["application/json"],"tags":["Environment variables"],"responses":{"200":{"schema":{"$ref":"#/definitions/EnvironmentVariablesList","type":"array"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"}}},"post":{"summary":"Create a environment variable","operationId":"postV1Variables","description":"Creates a new environment variable.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/EnvironmentVariable"}}],"consumes":["application/json"],"produces":["application/json"],"tags":["Environment variables"],"responses":{"201":{"schema":{"$ref":"#/definitions/EnvironmentVariable"},"description":"Created"},"401":{"schema":{"type":"string"},"description":"Unauthorized"}}}},"/v1/variables/{key}":{"delete":{"summary":"Delete an environment variable","operationId":"deleteV1VariablesKey","description":"Permanently removes an environment variable. Uses the \"key\" field as the ID for deletion.","parameters":[{"type":"string","name":"key","in":"path","required":true}],"consumes":["application/json"],"produces":["application/json"],"tags":["Environment variables"],"responses":{"204":{"schema":{"type":"string"},"description":"No Content"},"401":{"schema":{"type":"string"},"description":"Unauthorized"}}},"get":{"summary":"Retrieve an environment variable","operationId":"getV1VariablesKey","description":"Show details of a specific environment variable. Uses the \"key\" field for selection.","parameters":[{"type":"string","name":"key","in":"path","required":true}],"consumes":["application/json"],"produces":["application/json"],"tags":["Environment variables"],"responses":{"200":{"schema":{"$ref":"#/definitions/EnvironmentVariable"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model 1"},"description":"Not Found"}}},"put":{"summary":"Update a environment variable","operationId":"putV1VariablesKey","description":"Updates an environment variable. Uses the \"key\" field as the ID for updating. Only updates the value.","parameters":[{"type":"string","name":"key","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/EnvironmentVariable"}}],"consumes":["application/json"],"produces":["application/json"],"tags":["Environment variables"],"responses":{"200":{"schema":{"$ref":"#/definitions/EnvironmentVariable"},"description":"Successful"},"401":{"schema":{"type":"string"},"description":"Unauthorized"},"404":{"schema":{"$ref":"#/definitions/Model 1"},"description":"Not Found"}}}}},"definitions":{"config":{"type":"object"},"SubscriptionSchema":{"type":"object","properties":{"id":{"type":"number"},"checkId":{"type":"string","x-format":{"guid":true}},"activated":{"type":"boolean"}},"required":["checkId","activated"]},"subscriptions":{"type":"array","description":"All checks subscribed to this channel.","items":{"$ref":"#/definitions/SubscriptionSchema"}},"AlertChannel":{"type":"object","properties":{"id":{"type":"number"},"type":{"type":"string","description":"The type of alert channel, i.e. EMAIL or SLACK."},"config":{"$ref":"#/definitions/config"},"subscriptions":{"$ref":"#/definitions/subscriptions","type":"array"},"created_at":{"type":"string","format":"date"},"updated_at":{"type":"string","format":"date"}}},"AlertChannelsList":{"type":"array","items":{"$ref":"#/definitions/AlertChannel"}},"Model 1":{"type":"object"},"responseTimes":{"type":"array","items":{"type":"string"}},"RolledUpCheckResult":{"type":"object","properties":{"checkId":{"type":"string"},"runLocation":{"type":"string","description":"What data center location this set of check results originated from"},"errorCount":{"type":"number","description":"The total amount of errored out check results for this hour. This value should be 0 in almost all cases as it records failures in the Checkly backend."},"failureCount":{"type":"number","description":"The total amount of failed check results for this hour."},"resultsCount":{"type":"number","description":"The total amount of results recorded for this hour. Depends on how often this check is scheduled to run. "},"hour":{"type":"string","format":"date","description":"All results per time unit / per location are rolled up to a specific hour"},"responseTimes":{"$ref":"#/definitions/responseTimes","type":"array"}}},"RolledUpCheckResultsList":{"type":"array","items":{"$ref":"#/definitions/RolledUpCheckResult"}},"apiCheckResult":{"type":"object"},"browserCheckResult":{"type":"object"},"CheckResult":{"type":"object","properties":{"id":{"type":"string","description":"The unique ID of this result"},"name":{"type":"string","description":"The name of the check"},"checkId":{"type":"string","description":"The ID of the check"},"hasFailures":{"type":"boolean","description":"Describes if any failure has occurred during this check run. This is should be your mainmain focus for assessing API or browser check behaviour. Assertions that fail, timeouts or failing scripts all resolve tothis value being true"},"hasErrors":{"type":"boolean","description":"Describes if an internal error has occured in Checkly's backend. This should be false in almost all cases."},"runLocation":{"type":"string","description":"What data center location this check result originated from"},"startedAt":{"type":"string","format":"date"},"stoppedAt":{"type":"string","format":"date"},"created_at":{"type":"string","format":"date"},"responseTime":{"type":"number","description":"Describes the time it took to execute relevant parts of this check. Any setup timeor system time needed to start executing this check in the Checkly backend is not part of this."},"apiCheckResult":{"$ref":"#/definitions/apiCheckResult"},"browserCheckResult":{"$ref":"#/definitions/browserCheckResult"},"checkRunId":{"type":"number","description":"The id of the specific check run that created this check result"},"attempts":{"type":"number","description":"How often this check was retried. This will be larger than 0 when double checking is enabled"}}},"CheckResultsList":{"type":"array","items":{"$ref":"#/definitions/CheckResult"}},"CheckStatus":{"type":"object","properties":{"checkId":{"type":"string","description":"The ID of check this status belongs to"},"hasFailures":{"type":"boolean","description":"Describes if this check is currently failing. If any of the assertions for an API checkfail this value is true. If a browser check fails for whatever reason, this is true"},"hasErrors":{"type":"boolean","description":"Describes if due to some error outside of normal operation this check is failing. This should be extremely rare and only when there is an error in the Checkly backend"},"longestRun":{"type":"number","description":"The longest ever recorded response time for this check"},"shortestRun":{"type":"number","description":"The shortest ever recorded response time for this check"},"lastRunLocation":{"type":"string","description":"What location this check was last run at"},"lastCheckRunId":{"type":"string","description":"The unique incrementing ID for each check run"},"sslDaysRemaining":{"type":"number","description":"How many days remain till the current SSL certifacte expires"},"created_at":{"type":"string","format":"date"},"updated_at":{"type":"string","format":"date"}}},"CheckStatusList":{"type":"array","items":{"$ref":"#/definitions/CheckStatus"}},"Model 2":{"type":"array","items":{"type":"string"}},"Locations":{"type":"array","description":"An array of one or more data center locations where to run the this check","default":["us-east-1"],"minItems":1,"maxItems":8,"items":{"type":"string"}},"KeyValue":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string","default":""},"locked":{"type":"boolean","default":false}},"required":["key","value"]},"Headers":{"type":"array","default":[],"items":{"$ref":"#/definitions/KeyValue"}},"QueryParameters":{"type":"array","default":[],"items":{"$ref":"#/definitions/KeyValue"}},"Assertions":{"type":"object","properties":{"source":{"type":"string","enum":["STATUS_CODE","JSON_BODY","HEADERS","TEXT_BODY","RESPONSE_TIME"]},"property":{"type":"string","default":""},"comparison":{"type":"string","enum":["EQUALS","NOT_EQUALS","HAS_KEY","NOT_HAS_KEY","HAS_VALUE","NOT_HAS_VALUE","IS_EMPTY","NOT_EMPTY","GREATER_THAN","LESS_THAN","CONTAINS","NOT_CONTAINS"]},"target":{"type":"string","default":""}}},"assertions":{"type":"array","description":"Check the main Checkly documentation on assertions for specific values like regular expressions and JSON path descriptors you can use in the \"property\" field.","default":[],"items":{"$ref":"#/definitions/Assertions"}},"basicAuth":{"type":"object","default":{"username":"","password":""},"properties":{"username":{"type":"string","default":""},"password":{"type":"string","default":""}}},"request":{"type":"object","properties":{"method":{"type":"string","default":"GET","enum":["GET","POST","PUT","HEAD","DELETE","PATCH"]},"url":{"type":"string","default":"localhost"},"followRedirects":{"type":"boolean"},"body":{"type":"string","default":""},"bodyType":{"type":"string","default":"NONE","enum":["NONE","JSON","FORM","RAW","GRAPHQL"]},"headers":{"$ref":"#/definitions/Headers","type":"array"},"queryParameters":{"$ref":"#/definitions/QueryParameters","type":"array"},"assertions":{"$ref":"#/definitions/assertions","type":"array"},"basicAuth":{"$ref":"#/definitions/basicAuth"}},"required":["method","url"]},"EnvironmentVariable":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string","default":""},"locked":{"type":"boolean","description":"Used only in the UI to hide the value like a password ","default":false}},"required":["key","value"]},"EnvironmentVariables":{"type":"array","description":"Key/value pairs for setting environment variables during check execution. These are only relevant for Browser checks. Use global environment variables whenever possible.","items":{"$ref":"#/definitions/EnvironmentVariable"}},"AlertChannelSubscription":{"type":"object","properties":{"alertChannelId":{"type":"number"},"activated":{"type":"boolean","default":true}},"required":["alertChannelId","activated"]},"alertChannelSubscriptions":{"type":"array","items":{"$ref":"#/definitions/AlertChannelSubscription"}},"AlertEmail":{"type":"object","properties":{"address":{"type":"string","default":""}},"required":["address"]},"email":{"type":"array","items":{"$ref":"#/definitions/AlertEmail"}},"AlertWebhook":{"type":"object","properties":{"name":{"type":"string","default":""},"url":{"type":"string","default":""}},"required":["url"]},"webhook":{"type":"array","items":{"$ref":"#/definitions/AlertWebhook"}},"AlertSlack":{"type":"object","properties":{"url":{"type":"string","default":""}},"required":["url"]},"slack":{"type":"array","items":{"$ref":"#/definitions/AlertSlack"}},"AlertSms":{"type":"object","properties":{"number":{"type":"string","default":""},"name":{"type":"string"}},"required":["number","name"]},"sms":{"type":"array","items":{"$ref":"#/definitions/AlertSms"}},"AlertChannels":{"type":"object","properties":{"email":{"$ref":"#/definitions/email","type":"array"},"webhook":{"$ref":"#/definitions/webhook","type":"array"},"slack":{"$ref":"#/definitions/slack","type":"array"},"sms":{"$ref":"#/definitions/sms","type":"array"}}},"Tags":{"type":"array","description":"Tags for organizing and filtering checks","items":{"type":"string"}},"runBasedEscalation":{"type":"object","properties":{"failedRunThreshold":{"type":"number","description":"After how many failed consecutive check runs an alert notification should be send","default":1,"enum":[1,2,3,4,5]}}},"timeBasedEscalation":{"type":"object","properties":{"minutesFailingThreshold":{"type":"number","description":"After how many minutes after a check starts failing an alert should be send","default":5,"enum":[5,10,15,30]}}},"reminders":{"type":"object","properties":{"amount":{"type":"number","description":"How many reminders to send out after the initial alert notification","default":0,"enum":[0,1,2,3,4,5]},"interval":{"type":"number","description":"At what interval the reminders should be send","default":5,"enum":[5,10,15,30]}}},"sslCertificates":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Determines if alert notifications should be send for expiring SSL certificates","default":true},"alertThreshold":{"type":"number","description":"At what moment in time to start alerting on SSL certificates","default":30,"enum":[3,7,14,30]}}},"AlertSettingsSchema":{"type":"object","default":{"escalationType":"RUN_BASED","runBasedEscalation":{"failedRunThreshold":1},"timeBasedEscalation":{"minutesFailingThreshold":5},"reminders":{"amount":0,"interval":5},"sslCertificates":{"enabled":true,"alertThreshold":30}},"properties":{"escalationType":{"type":"string","description":"Determines what type of escalation to use","enum":["RUN_BASED","TIME_BASED"]},"runBasedEscalation":{"$ref":"#/definitions/runBasedEscalation"},"timeBasedEscalation":{"$ref":"#/definitions/timeBasedEscalation"},"reminders":{"$ref":"#/definitions/reminders"},"sslCertificates":{"$ref":"#/definitions/sslCertificates"}}},"Check":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","description":"The name of the check"},"checkType":{"type":"string","description":"The type of the check","enum":["BROWSER","API"]},"frequency":{"type":"number","enum":[5,10,15,30,60,720,1440],"required":["frequency","frequency"],"x-alternatives":[{"type":"number","enum":[5,10,15,30,60,720,1440]},{"type":"number","enum":[1,5,10,15,30,60,720,1440]}]},"activated":{"type":"boolean","description":"Determines if the check is running or not","default":true},"muted":{"type":"boolean","description":"Determines if any notifications will be send out when a check fails and/or recovers","default":false},"doubleCheck":{"type":"boolean","description":"Setting this to \"true\" will trigger a retry when a check fails from the failing region and another, randomly selected region before marking the check as failed","default":true},"sslCheck":{"type":"boolean","description":"Determines if the SSL certificate should be validated for expiry"},"sslCheckDomain":{"type":"string","description":"Provides the domain for the SSLCheck option"},"shouldFail":{"type":"boolean","description":"Allows to invert the behaviour of when a check is considered to fail. Allows for validating error status like 404"},"locations":{"$ref":"#/definitions/Locations","type":"array"},"request":{"$ref":"#/definitions/request","required":["request"],"x-alternatives":[{"$ref":"#/x-alt-definitions/request"},{"$ref":"#/x-alt-definitions/Model 1"}]},"script":{"type":"string","description":"A valid piece of Node.js javascript code describing a browser interaction with the Puppeteer framework.","required":["script"],"optional":["script"],"x-alternatives":[{"type":"string","description":"A valid piece of Node.js javascript code describing a browser interaction with the Puppeteer framework."},{"type":"string"}]},"environmentVariables":{"$ref":"#/definitions/EnvironmentVariables","type":"array"},"alertChannelSubscriptions":{"$ref":"#/definitions/alertChannelSubscriptions","type":"array"},"alertChannels":{"$ref":"#/definitions/AlertChannels"},"tags":{"$ref":"#/definitions/Tags","type":"array"},"setupSnippetId":{"type":"number","description":"An ID reference to a snippet to use in the setup phase of an API check"},"tearDownSnippetId":{"type":"number","description":"An ID reference to a snippet to use in the teardown phase of an API check"},"localSetupScript":{"type":"string","description":"A valid piece of Node.js code to run in the setup phase"},"localTearDownScript":{"type":"string","description":"A valid piece of Node.js code to run in the teardown phase"},"alertSettings":{"$ref":"#/definitions/AlertSettingsSchema"},"useGlobalAlertSettings":{"type":"boolean","description":"When true, the account level alert setting will be used, not the alert setting defined on this check","default":true},"created_at":{"type":"string","format":"date"},"updated_at":{"type":"string","format":"date"}},"required":["checkType"]},"CheckList":{"type":"array","items":{"$ref":"#/definitions/Check"}},"CheckCreate":{"type":"object","properties":{"name":{"type":"string","description":"The name of the check"},"checkType":{"type":"string","description":"The type of the check","enum":["BROWSER","API"]},"frequency":{"type":"number","enum":[5,10,15,30,60,720,1440],"required":["frequency","frequency"],"x-alternatives":[{"type":"number","enum":[5,10,15,30,60,720,1440]},{"type":"number","enum":[1,5,10,15,30,60,720,1440]}]},"activated":{"type":"boolean","description":"Determines if the check is running or not","default":true},"muted":{"type":"boolean","description":"Determines if any notifications will be send out when a check fails and/or recovers","default":false},"doubleCheck":{"type":"boolean","description":"Setting this to \"true\" will trigger a retry when a check fails from the failing region and another, randomly selected region before marking the check as failed","default":true},"sslCheck":{"type":"boolean","description":"Determines if the SSL certificate should be validated for expiry"},"sslCheckDomain":{"type":"string","description":"Provides the domain for the SSLCheck option"},"shouldFail":{"type":"boolean","description":"Allows to invert the behaviour of when a check is considered to fail. Allows for validating error status like 404"},"locations":{"$ref":"#/definitions/Locations","type":"array"},"request":{"$ref":"#/definitions/request","required":["request"],"x-alternatives":[{"$ref":"#/x-alt-definitions/request"},{"$ref":"#/x-alt-definitions/Model 1"}]},"script":{"type":"string","description":"A valid piece of Node.js javascript code describing a browser interaction with the Puppeteer framework.","required":["script"],"optional":["script"],"x-alternatives":[{"type":"string","description":"A valid piece of Node.js javascript code describing a browser interaction with the Puppeteer framework."},{"type":"string"}]},"environmentVariables":{"$ref":"#/definitions/EnvironmentVariables","type":"array"},"tags":{"$ref":"#/definitions/Tags","type":"array"},"setupSnippetId":{"type":"number","description":"An ID reference to a snippet to use in the setup phase of an API check"},"tearDownSnippetId":{"type":"number","description":"An ID reference to a snippet to use in the teardown phase of an API check"},"localSetupScript":{"type":"string","description":"A valid piece of Node.js code to run in the setup phase"},"localTearDownScript":{"type":"string","description":"A valid piece of Node.js code to run in the teardown phase"},"alertSettings":{"$ref":"#/definitions/AlertSettingsSchema"},"useGlobalAlertSettings":{"type":"boolean","description":"When true, the account level alert setting will be used, not the alert setting defined on this check","default":true}},"required":["name","checkType","activated"]},"tags":{"type":"array","description":"A list of one or more tags that filter which checks to display on the dashboard.","items":{"type":"string"}},"DashboardResponse":{"type":"object","properties":{"customUrl":{"type":"string","description":"A subdomain name under \"checklyhq.com\". Needs to be unique across all users."},"customDomain":{"type":"string","description":"A custom user domain, e.g. \"status.example.com\". See the docs on updating your DNS and SSL usage."},"logo":{"type":"string","description":"A URL pointing to an image file."},"header":{"type":"string","description":"A piece of text displayed at the top of your dashboard."},"width":{"type":"string","description":"Determines whether to use the full screen or focus in the center.","enum":["FULL","960PX"]},"refreshRate":{"type":"number","description":"How often to refresh the dashboard in seconds.","enum":[60,300,600]},"paginate":{"type":"boolean","description":"Determines of pagination is on or off.","default":true},"paginationRate":{"type":"number","description":"How often to trigger pagination in seconds.","enum":[30,60,300]},"tags":{"$ref":"#/definitions/tags","type":"array"},"hideTags":{"type":"boolean","description":"Show or hide the tags on the dashboard.","default":false},"dashboardId":{"type":"string"}},"required":["customUrl","customDomain","logo","header","refreshRate","paginate","paginationRate","hideTags","dashboardId"]},"DashboardsList":{"type":"array","items":{"$ref":"#/definitions/DashboardResponse"}},"DashboardSchema":{"type":"object","properties":{"customUrl":{"type":"string","description":"A subdomain name under \"checklyhq.com\". Needs to be unique across all users."},"customDomain":{"type":"string","description":"A custom user domain, e.g. \"status.example.com\". See the docs on updating your DNS and SSL usage."},"logo":{"type":"string","description":"A URL pointing to an image file."},"header":{"type":"string","description":"A piece of text displayed at the top of your dashboard."},"width":{"type":"string","description":"Determines whether to use the full screen or focus in the center.","enum":["FULL","960PX"]},"refreshRate":{"type":"number","description":"How often to refresh the dashboard in seconds.","enum":[60,300,600]},"paginate":{"type":"boolean","description":"Determines of pagination is on or off.","default":true},"paginationRate":{"type":"number","description":"How often to trigger pagination in seconds.","enum":[30,60,300]},"tags":{"$ref":"#/definitions/tags","type":"array"},"hideTags":{"type":"boolean","description":"Show or hide the tags on the dashboard.","default":false}},"required":["customUrl","customDomain","logo","header","refreshRate","paginate","paginationRate","hideTags"]},"Snippet":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string","description":"The snippet name"},"script":{"type":"string","description":"Your Node.js code that interacts with the API check lifecycle, or functions as a partial for browser checks."},"created_at":{"type":"string","format":"date"},"updated_at":{"type":"string","format":"date"}}},"SnippetsList":{"type":"array","items":{"$ref":"#/definitions/Snippet"}},"SnippetCreate":{"type":"object","properties":{"name":{"type":"string","description":"The snippet name"},"script":{"type":"string","description":"Your Node.js code that interacts with the API check lifecycle, or functions as a partial for browser checks."}},"required":["name","script"]},"EnvironmentVariablesList":{"type":"array","items":{"$ref":"#/definitions/EnvironmentVariable"}}},"x-alt-definitions":{"KeyValue":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string","default":""},"locked":{"type":"boolean","default":false}},"required":["key","value"]},"Headers":{"type":"array","default":[],"items":{"$ref":"#/x-alt-definitions/KeyValue"}},"QueryParameters":{"type":"array","default":[],"items":{"$ref":"#/x-alt-definitions/KeyValue"}},"Assertions":{"type":"object","properties":{"source":{"type":"string","enum":["STATUS_CODE","JSON_BODY","HEADERS","TEXT_BODY","RESPONSE_TIME"]},"property":{"type":"string","default":""},"comparison":{"type":"string","enum":["EQUALS","NOT_EQUALS","HAS_KEY","NOT_HAS_KEY","HAS_VALUE","NOT_HAS_VALUE","IS_EMPTY","NOT_EMPTY","GREATER_THAN","LESS_THAN","CONTAINS","NOT_CONTAINS"]},"target":{"type":"string","default":""}}},"assertions":{"type":"array","description":"Check the main Checkly documentation on assertions for specific values like regular expressions and JSON path descriptors you can use in the \"property\" field.","default":[],"items":{"$ref":"#/x-alt-definitions/Assertions"}},"basicAuth":{"type":"object","default":{"username":"","password":""},"properties":{"username":{"type":"string","default":""},"password":{"type":"string","default":""}}},"request":{"type":"object","properties":{"method":{"type":"string","default":"GET","enum":["GET","POST","PUT","HEAD","DELETE","PATCH"]},"url":{"type":"string","default":"localhost"},"followRedirects":{"type":"boolean"},"body":{"type":"string","default":""},"bodyType":{"type":"string","default":"NONE","enum":["NONE","JSON","FORM","RAW","GRAPHQL"]},"headers":{"$ref":"#/x-alt-definitions/Headers","type":"array"},"queryParameters":{"$ref":"#/x-alt-definitions/QueryParameters","type":"array"},"assertions":{"$ref":"#/x-alt-definitions/assertions","type":"array"},"basicAuth":{"$ref":"#/x-alt-definitions/basicAuth"}},"required":["method","url"]},"Model 1":{"type":"object"}}}