/* place your custom CSS overrides here */

@font-face {
    font-family: 'fakt-soft';
    src: url("../../../../fonts/fakt/FaktSoftPro-Blond.eot") format("embedded-opentype"), url("../../../../fonts/fakt/FaktSoftPro-Blond.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: auto; }
@font-face {
    font-family: 'fakt-soft';
    src: url("../../../../fonts/fakt/FaktSoftPro-Normal.eot") format("embedded-opentype"), url("../../../../fonts/fakt/FaktSoftPro-Normal.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'fakt-soft';
    src: url("../../../../fonts/fakt/FaktSoftPro-Medium.eot") format("embedded-opentype"), url("../../../../fonts/fakt/FaktSoftPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

body {
    font-family: "fakt-soft", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.page-wrapper .dark-box {
    width: 45%;
}

.toc-wrapper {
    background-color: white;
}

.content pre, .content blockquote {
    width: 45%;
}

.toc-wrapper .toc-link.active-parent {
    background-color: white;
    color: #3C4858;
}

img.logo {
    padding: 1rem;
    width: 100px;
}

div .highlight {
    max-height: none;
}

.requiredParam {
    font-size: 90%;
    color: #697280;
}

a {
    color: #45c8f1;
}
