doctype html
html(lang='en')
    | !{'{{ partial "head" . }}'}
    body
        include ../partials/navbar.pug
        .main.container.py-5
            .row
                .col-sm-12.col-lg-10.offset-lg-1
                    span.markdown #{'{{.Content}}'}
        include ../partials/footer.pug
