doctype html
html(lang='en')
    | !{'{{ partial "head" . }}'}
    body
        include ../partials/navbar.pug
        .main.container
            .row
                .col-sm-12
                    span.markdown #{'{{.Content}}'}
        include ../partials/footer.pug
