@import '../variables';

.alerting-section {
  padding-top: 4 * $section-top-padding;
  padding-bottom: $section-bottom-padding;
  background: $white;
  height: 880px;
  overflow: hidden;

  .alerting-options-image {
    @include media-breakpoint-down(xs) {
      width: 240px;
    }
  }

  .alerting-image {
    border-radius: 5px;
    border: 1px solid $gray-light;

    @include media-breakpoint-up(xs) {
      width: 360px;
    }

    @include media-breakpoint-up(sm) {
      width: 480px;
    }

    @include media-breakpoint-up(md) {
      width: 900px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .alerting-section {
    height: 700px;
  }
}
