@import '../variables';

.all-features-section {
  padding-top: 1 * $section-top-padding;
  padding-bottom: 1 *$section-bottom-padding;

  h5 {
    font-size: .8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $gray-dark;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .5px
  }
  p {
    margin-bottom: 2 * $spacer;
    max-width: 300px;
  }
}
