@import '../variables';

.api-monitoring-section {
  padding-top: $section-top-padding;
  padding-bottom: $section-bottom-padding;
  height: 616px;
  overflow: hidden;
  img.assertions {
    left: -100px;
    top: 180px;
  }

  img.results {
    left: 180px;
  }
}

@include media-breakpoint-down(sm) {
  .api-monitoring-section {
    height: 650px;
  }
}
