@import '../variables';

.api-monitoring-section {
  height: 887px;
  padding-top: 1.6 * $section-top-padding;
  padding-bottom: 1.6 * $section-bottom-padding;
  overflow: hidden;
  background: $ash;
  .text-side {
    margin-top: 195px;
  }
  
  img.code {
    margin-left: 70px;
    width: 954px;
    height: 727px;
  }
}

@include media-breakpoint-down(sm) {
  img.code {
    height: 650px;
  }
}
