@import '../variables';

.public-stats-section {
  padding-top: 3 * $spacer;
  padding-bottom: 4 * $spacer;

  .counter-text {
    color: $gray;
    font-weight: 200;
    font-size: $font-size-h2;
  }
  .counter {
    color: $gray-dark;
    margin: .5rem;
    font-size: larger;
    font-weight: 500;
  }
}
