@import '../variables';

.site-monitoring-section {
  padding-top: 3 * $section-top-padding;
  padding-bottom: 3 * $section-bottom-padding;
  height: 640px;
  background: $ash;
  overflow: hidden;

  img.code {
    left: -100px;
  }

  img.screenshots {
    left: 180px;
    top: 320px;
    z-index: auto;
  }

}

@include media-breakpoint-down(sm) {
  .site-monitoring-section {
    height: 760px;
  }
}
