@import '../variables';

.site-monitoring-section {
  padding-top: 3 * $section-top-padding;
  padding-bottom: 3 * $section-bottom-padding;
  height: 750px;
  background-color: $light-blue;
  overflow: hidden;

  img.screenshots {
    left: -200px;
    top: 400px;
  }
  img.code {
    left: -300px;
  }
}

@include media-breakpoint-down(sm) {
  .site-monitoring-section {
    height: 600px;
  }
}
