.testimonial-section {

  padding-top: 5 * $section-top-padding;
  padding-bottom: 2 * $section-bottom-padding;

  &.testimonial-1 {
    .testimonial-card {
      border: none;
      .card-block {
        padding: 2 * $spacer;
      }
    }
    .testimonial-logo {
      width: 165px;
      margin-bottom: 1rem;
    }
    .testimonial-text {
      font-size: $font-size-base;
      color: $gray-dark;
      font-weight: 300;
      padding: .5 * $spacer-y 0;
    }
    .testimonial-portrait {
      display: flex;
      flex-direction: column;
      float: left;
      img {
        width: 50px;
        margin-right: 1rem;
      }
      .testimonial-name-badge {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        float: left;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .testimonial-section {
    padding-top: 2 * $section-top-padding;
  }
}
