@import '../variables';


.trusted-by-section {
  text-align: center;
  padding-top: $section-top-padding;
  padding-bottom: $section-bottom-padding;
  background: $white;

  img.trusted-by-image {
    max-width: 1110px;
    width: 100%;
    padding: 1rem 0;
  }

  @include media-breakpoint-down(sm) {
    padding-top: $section-top-padding;
    padding-bottom: $section-bottom-padding;
  }
}
