section.alerting-section
  .container
    .row.mb-lg-4
      .col-sm-12.text-center
        h5.section-super-header 🔔 alerting
        h2.section-header Alerting without limits
      .col-sm-12.col-md-8.offset-md-2.text-center
        p.lead-text
          | Checkly gives you flexible options for how, why and when you want to be alerted. Keep your team up
          | to date with unimited email, Slack and web hook notifications. "double-checking" is enabled by default to never get false positives.
        a.cta-link(href='/docs/alerting') Learn more
        .mb-4.mb-lg-0
    .row
      .col-sm-12.text-center
        img.alerting-image.img-fluid(src='/landing/alert-settings@2x.png')
