section.all-features-section
  .container
    .row.mb-lg-5.mb-3
      .col-sm-12.text-center
        h2.section-header All features at a glance
    .row
      .col-sm-4
        h5 API monitoring
        p Flexible <a href='/product/api-monitoring/' class="info-link">API monitoring</a> with custom body, headers, query parameters and unlimited assertions.
      .col-sm-4
        h5 Site transaction monitoring
        p Scripted browser clicks flow using Chrome Puppeteer Node.js framework. <a href='/docs/browser-checks/screenshots/' class="info-link">Take up to three screenshots</a> per check.
      .col-sm-4
        h5 SSL expiry alerting
        p We'll alert you when your SSL certificate is about to expire up to 30 days in advance till D-day.
    .row
      .col-sm-4
        h5 Global coverage
        p Get global latency metrics by running your checks from up to eight (more coming) data center locations around the world.
      .col-sm-4
        h5 Alerting channels
        p Generous SMS bundles & unlimited recipients / endpoints for Pagerduty, email, web hook and Slack alerting integrations.
      .col-sm-4
        h5 Threshold alerting
        p Control what <a href='/docs/alerting/' class="info-link">triggers alerts</a> and set reminders. We always run double checks to combat false positives.
    .row
      .col-sm-4
        h5 Public dashboards
        p Display a <a href='/docs/dashboards/' class="info-link">public dashboard</a> on your site or in-office mounted TV, hosted on your company domain.
      .col-sm-4
        h5 Teams & users
        p <a href='/docs/teams/' class="info-link">Add team members to your account to collaborate</a>. Comes with full role based access control.
      .col-sm-4
        h5 On-demand triggers
        p <a href='/docs/browser-checks/triggers/' class="info-link">Trigger your checks</a> using a simple cURL command from your CI/CD pipeline or just the command line.
