section.all-features-section
  .container
    .row.mb-lg-5.mb-3
      .col-sm-12.text-center
        h3.section-header All features at a glances
    .row
      .col-sm-4
        h5 API monitoring
        p Flexible API monitoring with custom body, headers, query parameters and unlimited assertions.
      .col-sm-4
        h5 Click flow monitoring
        p Scripted browser clicks flow using Chrome Puppeteer Node.js framework. Take up to three screenshots per check.
      .col-sm-4
        h5 SSL expiry checks
        p We'll alert you when your SSL certificate is about to expire up to 30 days in advance till D-day.
    .row
      .col-sm-4
        h5 Global coverage
        p Get global latency metrics by running your checks from up to eight (more coming) data center locations around the world.
      .col-sm-4
        h5 Unlimited alerts
        p No limits on the amount alerts you can trigger per month, nor on the amount of recipients.
      .col-sm-4
        h5 Email, web hook and Slack
        p Checkly provides unlimited recipients / endpoints for email, web hook and Slack alerting integrations.
    .row
      .col-sm-4
        h5 Public dashboards
        p Display a public dashboard on your site or in-office mounted TV, hosted on your company domain.
      .col-sm-4
        h5 Teams & users
        p Add team members to your account to collaborate. Comes with full role based access control.
      .col-sm-4
        h5 On-demand triggers
        p Trigger your checks using a simple cURL command from your CI/CD pipeline or just the command line.
