section.api-monitoring-section
  .container
    .row
      .col-sm-5
        .text-side.text-left
          h2.section-super-header api monitoring
          h3.section-header No more broken APIs
          p.lead-text
            | Make sure your API always responds quickly and with the correct payload. Get started
            | with our Swagger or cURL importer and super easy API monitor creator.
            | <br><br>
            | Monitor your API performance from 16 different locations, as often as once every minute. We'll also check if
            | your SSL certificate is about to expire.
          a.cta-link(href='/product/api-monitoring/') Learn more
      .col-sm-6.offset-sm-1
        .image-side.right
          img.big-landing-image.big-drop-shadow.assertions.fade-in.ml-md-5.lazy(src='/landing/api-assertions@2x.png', alt='api monitoring')
          img.big-landing-image.big-drop-shadow.results.fade-in.ml-md-5.lazy.hidden-md-down(src='/landing/api-results@2x.png', alt='api monitoring')
