#mc_embed_signup.beta-signup.mb-5
  form.form-inline.justify-content-center(action="https://run.us15.list-manage.com/subscribe/post?u=9af9712f622c6511cb2113669&amp;id=cb3c4cb1f3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
    input.form-control.email-address-input.mb-3.mb-md-0.mr-md-2(type="email" value="" name="EMAIL"  width="280px" id="mce-EMAIL" placeholder="Enter your email address")
    button.btn.btn-primary.submit-button(type="submit", @click='trackSignup()' value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button") Get beta access

    #mce-responses.clear
      #mce-error-response.response(style="display:none")
      #mce-success-response.response(style="display:none")
    div(style="position: absolute; left: -5000px;" aria-hidden="true")
      input(type="text" name="b_9af9712f622c6511cb2113669_cb3c4cb1f3" tabindex="-1" value="")
  .text-center.pt-2.text-muted
    small We are launching in Q1 2018 - no spam - no funny business
