section.promo-banner.black-friday
  .container
    .row
      small.col-sm-12.text-center.text-sm
        svg#icon-gift(viewBox='0 0 36 36', width='16px', height='16px', style='fill: white; stroke: white; margin-bottom: -2px; margin-right: .5rem;')
          title bf-present
          path(d='M27.124 11.25c0.637-0.453 1.248-0.957 1.809-1.517 1.174-1.174 1.96-2.619 2.212-4.068 0.276-1.589-0.129-3.064-1.112-4.046-0.784-0.784-1.846-1.198-3.071-1.198-1.745 0-3.583 0.838-5.044 2.298-2.337 2.337-3.699 5.563-4.432 7.865-0.543-2.313-1.624-5.437-3.727-7.54-1.128-1.128-2.57-1.708-3.932-1.708-1.113 0-2.172 0.387-2.962 1.177-1.757 1.757-1.52 4.844 0.53 6.894 0.731 0.731 1.585 1.338 2.486 1.843h-7.63v9h2.25v15.75h27v-15.75h2.25v-9h-6.626zM23.707 4.508c0.975-0.975 2.191-1.557 3.254-1.557 0.376 0 0.904 0.079 1.281 0.457 0.915 0.915 0.401 3.034-1.1 4.535-1.545 1.545-3.623 2.607-5.429 3.307h-1.781c0.653-2.023 1.83-4.797 3.775-6.742zM8.224 5.656c-0.025-0.321-0.002-0.923 0.429-1.353 0.36-0.36 0.836-0.436 1.172-0.436v0c0.747 0 1.528 0.352 2.142 0.966 1.191 1.191 2.171 3.086 2.836 5.48 0.018 0.065 0.035 0.129 0.053 0.193-0.064-0.017-0.128-0.035-0.193-0.053-2.394-0.665-4.289-1.645-5.48-2.836-0.556-0.556-0.906-1.271-0.959-1.961zM15.75 33.75h-9v-14.625h9v14.625zM15.75 18h-11.25v-4.5h11.25v4.5zM29.25 33.75h-9v-14.625h9v14.625zM31.5 18h-11.25v-4.5h11.25v4.5z')
        strong Black Friday / Cyber Monday offer is here!&nbsp;
        | Grab a 30% discount for 2 months & lifetime low pricing
        a.btn.btn-xs.btn-pill.btn-accent.ml-3(href='/pricing') Get the discount
