section.features-section
  .container
    .row.mb-lg-5.mb-3
      .col-sm-12.text-center
        h3.section-header And when the inevitable happens?
    .row
      .col-sm-3
        ul.feature-slider
          li(@click.prevent='selectedFeature = 1', :class='{ "feature-selected" : selectedFeature === 1 }')
            .feature-header
              span.btn-icon.mr-3 🔔
              | Alerting
            p.feature-body Get alerted via email, Slack or webhooks.
          li(@click.prevent='selectedFeature = 2', :class='{ "feature-selected" : selectedFeature === 2 }')
            .feature-header 📈
              span.btn-icon.mr-3
              | Stats and metrics
            p.feature-body Clear response time and up time stats per location.
          li(@click.prevent='selectedFeature = 3', :class='{ "feature-selected" : selectedFeature === 3 }')
            .feature-header
              span.btn-icon.mr-3 🔬
              | Analytics
            p.feature-body Drill down into detailed information on all failed checks.
          li(@click.prevent='selectedFeature = 4', :class='{ "feature-selected" : selectedFeature === 4 }')
            .feature-header
              span.btn-icon.mr-3 🌎
              | Global coverage
            p.feature-body Check your API's and browser transactions from up to eight datacenters.
      .col-sm-9(v-lazy-container='{ selector: "img" }')
        img.fade-in.screen-image.ml-lg-5(v-show='selectedFeature === 1', data-src='/images/alerts-screen@2x.png')
        img.fade-in.screen-image.ml-lg-5(v-show='selectedFeature === 2', data-src='/images/show-screen@2x.png')
        img.fade-in.screen-image.ml-lg-5(v-show='selectedFeature === 3', data-src='/images/result-detail-screen@2x.png')
        img.fade-in.screen-image.ml-lg-5(v-show='selectedFeature === 4', data-src='/images/locations-screen@2x.png')
