footer.footer
    .container
        .row.footer-top
            .col-sm-2
                .mb-3.mb-md-0
                    img(src='/images/text_racoon_logo.svg' width='100px')
            .col-sm-3
                .mb-3.mb-md-0
                    h6 Product
                    ul
                        li
                          a(href='/product/api-monitoring/') API monitoring
                        li
                          a(href='/product/transaction-monitoring/') Transaction monitoring
                        li
                            a(href='/pricing') Pricing
                        li
                            a(href='/docs') Docs
                        li
                            a(href='https://status.checklyhq.com/' target='_blank') Live dashboard
                            span.green-dot
                        li
                          a(href='/puppeteer-recorder') Puppeteer Recorder

            .col-sm-2
                .mb-3.mb-md-0
                    h6 Company
                    ul
                        li
                            a(href='https://headwayapp.co/checkly-updates', target='_blank') News
                        li
                            a(href='/blog') Blog
                        li
                            a(href='/support') Support
                        li
                            a(href='/privacy') Privacy policy
            .col-sm-5
                h6 Get on topic product info and updates
                #mc_embed_signup
                    form.form-inline(action="https://run.us15.list-manage.com/subscribe/post?u=9af9712f622c6511cb2113669&amp;id=adb061483c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
                        input.form-control.email-address-input.mb-3.mb-md-0.mr-md-2(type="email" value="" name="EMAIL"  width="280px" id="mce-EMAIL" placeholder="Email address")
                        button.btn.btn-primary.submit-button(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button") Subscribe

                        #mce-responses.clear
                            #mce-error-response.response(style="display:none")
                            #mce-success-response.response(style="display:none")
                        div(style="position: absolute; left: -5000px;" aria-hidden="true")
                            input(type="text" name="b_9af9712f622c6511cb2113669_adb061483c" tabindex="-1" value="")
                .pt-2.text-muted
                    small no spam - unsubscribe anytime
        .row.footer-bottom
            .col-12
                span Checkly · Paul-Lincke-Ufer 30, 10999, Berlin · Copyright © 2018
                .float-right
                    a.mr-3(href="https://heapanalytics.com/?utm_source=badge" rel="nofollow")
                        img(style="width:108px;height:41px" src="//heapanalytics.com/img/badgeLight.png" alt="Heap | Mobile and Web Analytics")
                    a(href='https://twitter.com/checklyhq' target='_blank')
                        img(src='/images/twitter.svg')

include scripts
