footer.footer
    .container
        .row.footer-top
            .col-sm-2
                .mb-3.mb-md-0
                    img(src='/images/text_racoon_logo.svg' width='100px' alt='checkly logo')
            .col-sm-3
                .mb-3.mb-md-0
                    h6 Product
                    ul
                        li
                          a(href='/product/api-monitoring/') API monitoring
                        li
                          a(href='/product/transaction-monitoring/') Site transaction monitoring
                        li
                            a(href='/pricing') Pricing
                        li
                            a(href='/docs') Docs
                        li
                            a(href='/docs/api') API reference
                        li
                            a(href='https://status.checklyhq.com/' target='_blank') Live dashboard
                            span.green-dot
            .col-sm-3
                .mb-3.mb-md-0
                    h6 Company
                    ul
                        li
                            a(href='https://headwayapp.co/checkly-updates', target='_blank') News
                        li
                            a(href='https://blog.checklyhq.com/', target='_blank') Blog
                        li
                            a(href='/about') About us
                        li
                            a(href='/terms') Terms of Use
                        li
                            a(href='/privacy') Privacy policy
            .col-sm-3
                .mb-3.mb-md-0
                    h6 Connect
                    ul
                        li
                            a(id="open-intercom-link" href="mailto:ep3ft8gg@intercom-mail.com") Support
                        li
                            a(href='https://twitter.com/checklyHQ', target='_blank') Twitter
                        li
                            a(href='https://github.com/checkly/product-roadmap/projects/1', target='_blank') Public Roadmap
            .col-sm-1
        .row.footer-bottom
            .col-12
                span Checkly is operated by Pink Robots B.V. from Berlin, DE & Utrecht, NL · Copyright © 2019
                .float-right
                    a.mr-3(href="https://heapanalytics.com/?utm_source=badge" rel="nofollow")
                        img(style="width:108px;height:41px" src="//heapanalytics.com/img/badgeLight.png" alt="Heap | Mobile and Web Analytics")
                    a(href='https://twitter.com/checklyhq' target='_blank')
                        img(src='/images/twitter.svg', alt='twitter logo')

include scripts
