footer.footer
    .container
        .row.py-5
            .col-sm-12.col-md-8.offset-md-2.text-center
                img.mb-3(src='/images/racoon_logo.svg' width='40px')
                p
                    | Checkly · info@checklyhq.com · Paul-Lincke-Ufer 30, 10999, Berlin ·
                    a.ml-1(href='/privacy') Privacy
script(src='/js/app.js')
