section.free-trial-section
    .container
        .row
            .col-sm-12.col-lg-8.offset-lg-2
                .card
                    .card-block
                        .text-center
                            .section-header.pt-4.font-weight-bold Try out Checkly for free for 14 days
                            p.lead-text Start monitoring your API endpoints and browser click flows today.
                            a.signup-button.btn.btn-success.btn-lg(data-signup href='https://app.checklyhq.com/signup') Start your free trial
                            .pt-2.text-muted.mb-4
                                small no credit card required
