section.free-trial-section
    .container
        .row
            .col-sm-8.offset-sm-2
                .card
                    .card-block
                        .text-center
                            h2.section-header.pt-4 Try it out for free for 15 days
                            p.lead-text Start actively monitoring your API endpoints and browser click flows today.
                            a.btn.btn-success.btn-lg(href='https://app.checklyhq.com/signup') Start your free trial
                            .pt-2.text-muted.mb-4
                                small no credit card required
