doctype html
html(lang='en')
    head
        title !{'{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | Checkly {{ end }}'}
        meta(charset='utf-8')
        meta(name='description' content='{{.Description | default .Site.Params.Description}}')
        meta(name='viewport' content='width=device-width', initial-scale=1, maximum-scale=1, user-scalable=no)

        meta(property='og:type' content='article')
        meta(property='og:title' content='{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | Checkly {{ end }}')
        meta(property='og:description' content='{{.Description | default .Site.Params.Description}}')
        meta(property='og:image' content='https://checklyhq.com/images/dashboard-screen@2x.png')

        meta(property='twitter:card' content='summary')
        meta(property='twitter:title' content='{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | Checkly {{ end }}')
        meta(property='twitter:description' content='{{.Description | default .Site.Params.Description}}')
        meta(property='twitter:image' content='https://checklyhq.com/images/dashboard-screen@2x.png')

        link(rel='icon' type='image/png' href='/images/racoon_favicon.png')
        link(rel='alternate' href='https://checklyhq.com' hreflang='en-us')
        link(rel='canonical' href='https://checklyhq.com')

        // main styles
        link(rel='stylesheet' href='/css/style.css')

        // Global site tag (gtag.js) - Google Analytics
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-110523681-1")
        script
            |   window.dataLayer = window.dataLayer || [];
            |   function gtag(){dataLayer.push(arguments);}
            |   gtag('js', new Date());
            |   gtag('config', 'UA-110523681-1');
            |   // Google Optimize
            |   gtag('config', 'UA-110523681-1', { 'optimize_id': 'GTM-PNWRVST'});
            |


        // Google Optimize Page hiding snippet (recommended)

        style
            |.async-hide { opacity: 0 !important}

        script
            | if (location.host === 'checklyhq.com') {
            |  (function(a,s,y,n,c,h,i,d,e){s.className+=' ' + y;h.start=1*new Date;
            |  h.end=i = function () {
            |    s.className = s.className.replace(RegExp(' ?' + y), '')
            |  };
            |  (a[n]=a[n] || []).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
            |  })(window,document.documentElement,'async-hide','dataLayer',4000,
            |  {'GTM-PNWRVST':true});
            | }

        // Hotjar Tracking Code for https://checklyhq.com

        script
            | if (location.host === 'checklyhq.com') {
            |  (function(h,o,t,j,a,r){
            |  h.hj=h.hj || function () {
            |    (h.hj.q = h.hj.q || []).push(arguments)
            |  };
            |  h._hjSettings={hjid: 717179, hjsv: 6};
            |  a=o.getElementsByTagName('head')[0];
            |  r=o.createElement('script');r.async=1;
            |  r.src=t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            |  a.appendChild(r);
            |  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
            | }

