section.hero-section
  .container
    .row
      .col-sm-12.text-center
        h1.hero-text Active monitoring <br> for dev and ops teams
    .row
      .col-sm-12.col-md-8.offset-md-2
        .text-center
          h2.hero-sub
            | Checkly is the easiest way to monitor your browser click flows and API responses
            | from a single, simple dashboard.
    .row
      .col-sm-12
        .text-center
          a.btn.btn-primary.btn-lg(href='https://app.checklyhq.com/signup') Start a free trial
        .text-center.pt-2.text-muted.mb-4
          small up and running in seconds - no credit card required
    .row
      .col-sm-12
        .text-center
          img.hero-image.fade-up.img-fluid(src='/images/dashboard-screen@2x.png')
