section.mailchimp-signup-row.mb-5
  .container
    .row
      .col-sm-12.col-lg-8.offset-lg-2
        .text-center
          #mc_embed_signup
            form(action='https://checklyhq.us15.list-manage.com/subscribe/post?u=9af9712f622c6511cb2113669&id=adb061483c', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                h4.mb-4 Sign up for more solo-dev SaaS & Javascript stories 🍍
                .form-group
                  input.form-control(type='email', value='', name='EMAIL', placeholder='Email')
                div(style='position: absolute; left: -5000px;', aria-hidden='true')
                  input(type='text', name='b_9af9712f622c6511cb2113669_adb061483c', tabindex='-1', value='')
                .form-group
                  input.btn.btn-accent.btn-block(type='submit', value='Sign up', name='subscribe')
