nav.navbar.navbar-toggleable-sm
    .container.px-0
        button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
          span
          span
          span
        a.navbar-brand(href='/')
          img(src='/images/text_racoon_logo.svg', width='120')
          p.beta beta!
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/pricing') Pricing
            li.nav-item
              a.nav-link(href='/docs') Docs
            li.nav-item
              a.nav-link(href='/whats-new') What's new
          form.form-inline.my-2.my-lg-0.ml-md-3
            a.btn.btn-outline-secondary.my-2.my-sm-0.mr-3.ml-md-3(href='https://app.checklyhq.com/login') Log in
            a.btn.btn-success.my-2.my-sm-0(href='https://app.checklyhq.com/signup') Start a free trial

