nav.navbar.navbar-toggleable-md.fixed-top
    .container
        button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
          span
          span
          span
        a.navbar-brand(href='/')
          img(src='/images/text_racoon_logo.svg', width='120', alt='checkly logo')
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(data-toggle='dropdown', id='navbarDropdownMenuLink', href='#') Product
              .dropdown-menu.big-drop-shadow.product-dropdown
                a.dropdown-item(href='/product/api-monitoring/') API Monitoring
                a.dropdown-item(href='/product/transaction-monitoring/') Site Transaction Monitoring
                a.dropdown-item(href='/product/alerting/') Alerting
            li.nav-item
              a.nav-link(href='/pricing') Pricing
            li.nav-item
              a.nav-link(href='/docs') Docs
            li.nav-item
              a.nav-link(href='https://blog.checklyhq.com', target='_blank') Blog
          span
            | !{'{{ if eq .Section "docs" }} '}
            form.form-inline.search-wrapper
              .form-group
                i.ion-search
                input.form-control.py-2#search(type='search', placeholder='Search the docs')
            | !{'{{else}}'}
            form.form-inline.my-2.my-lg-0.ml-md-3
              a#login-button.btn.btn-outline-secondary.my-2.my-sm-0.mr-3.ml-md-3(href='https://app.checklyhq.com/') Log in
              a#dashboard-button.btn.btn-outline-secondary.my-2.my-sm-0.mr-3.ml-md-3(style='display: none;' href='https://app.checklyhq.com/')
                | Dashboard
                .ion-arrow-right-c.d-inline.ml-2
              a.signup-button.btn.btn-success.my-2.my-sm-0(href='https://app.checklyhq.com/signup') Start your free trial
            | !{'{{end}}'}

