section.public-stats-section
  .container
    .row
      .col-sm-12.text-center
        .counter-text We ran
          span.counter ${publicStats.apiCheckResults}
          | API checks and
          span.counter ${publicStats.browserCheckResults}
          | Browser checks with 💖
