section.public-stats-section
  .container
    .row
      .col-sm-12
        .counter-text We ran
          span.counter(id='api-check-results')
          | API checks and
          span.counter(id='browser-check-results')
          | Browser checks with 💖
