section.public-stats-section
  .container
    .row
      .col-sm-12.text-center
        .counter-text We ran
          span.counter ${publicStats.apiCheckResults}
          | API checks and
          span.counter ${publicStats.browserCheckResults}
          | Browser checks with 💖
    .row
        .col-sm-12
            .text-center.pt-5
                a.btn.btn-success.btn-lg(href='https://app.checklyhq.com/signup') Start a free trial
            .text-center.pt-2.text-muted.mb-4
                small no credit card required
