section.results-section
  .container
    .row.mb-lg-4
      .col-sm-12.text-center
        h5.section-super-header Stats & metrics
        h2.section-header Insights without limits
      .col-sm-12.col-md-8.offset-md-2.text-center
        p.lead-text
          | Doing a root cause without complete and accurate data is insane. But too much detail can also be distracting.
          | That's why next to calculating aggregates to keep an overview, Checkly stores each and every
          | raw result for you and your team to dive into.
    .row
      .col-sm-12.text-center
        img.results-image.img-fluid(src='/landing/check-results@2x.png')
