section.site-monitoring-section
  .container
    .row
      .col-sm-5
        .text-side.text-left
          h2.section-super-header site transaction monitoring
          h3.section-header No more broken shopping carts
          p.lead-text
            | Monitor and validate your most crucial site transactions like logins, shopping carts and onboarding
            | flows. Take screenshots to get instant insights into what's working and what's not.
            | <br><br>
            | Scripting browser click flows used to suck. Not anymore. Checkly uses a Google's Puppeteer framework to run your
            | flows in a Chrome browser.
          a.cta-link(href='/product/transaction-monitoring/') Learn more
      .col-sm-6.offset-sm-1
        .image-side.right
          img.screen-image.big-landing-image.code.fade-in.ml-md-5.lazy(src='/landing/browser-code@2x.png' alt='site transaction monitoring')
          img.screen-image.big-landing-image.screenshots.fade-in.ml-md-5.lazy.hidden-md-down(src='/landing/browser-screenshots@2x.png', alt='site transaction monitoring')
