section.site-monitoring-section
  .container
    .row
      .col-lg-6.col-sm-0
        .image-side.left
          img.screen-image.big-landing-image.code.fade-in.lazy.hidden-md-down(src='/landing/browser-code@2x.png')
          img.screen-image.big-landing-image.screenshots.fade-in.lazy.hidden-md-down(src='/landing/browser-screenshots@2x.png')
      .col-lg-5.offset-lg-1.col-sm-12
        .text-side.text-left
          h5.section-super-header transaction monitoring
          h2.section-header No more broken shopping carts
          p.lead-text
            | Validate your most crucial business transactions like logins, shopping carts and onboardings
            | flows. Take screenshots to get instant insights into what's working and what's not.
            | <br><br>
            | Scripting browser click flows used to suck. Not anymore. Checkly uses a Google's Puppeteer framework to run your
            | flows in a Chrome browser. Tweak your script from your local machine or start with one of our examples.
          a.cta-link(href='/product/transaction-monitoring/') Learn more
