section.testimonial-section.testimonial-1
    .container
        .row
            .col-sm-4.col-md-5.col-lg-4
                .card.testimonial-card.big-drop-shadow.mb-5.mb-md-0
                    .card-block
                        a(href='http://www.insiteintelligence.com/', target='_blank')
                            img.testimonial-logo(src='/images/testimonials/insite_logo.png')
                        p.testimonial-text
                            | "Checkly makes it simple and easy for us to measure performance and automate the manual
                            | tasks of ensuring our web-based platform is available for our customers."
                        .testimonial-portrait
                            img(src='/images/testimonials/insite_portrait.png')
                        .testimonial-name-badge
                            .text-muted.font-weight-bold Daniel Schleig
                            .text-muted IT & Systems Lead, insiteintelligence.com
            .col-sm-8.col-md-7.col-lg-8
                .text-left.p-4
                    h2.section-header.pt-4 Try it out for free for 30 days 🍍
                    p.lead-text Start actively monitoring your API endpoints and browser click flows today.
                    a.btn.btn-success.btn-lg(href='https://app.checklyhq.com/signup') Start your free trial
                    .pt-2.text-muted.mb-4
                        small no credit card required

