section.testimonial-section.testimonial-3
  .container
    .row
      .col-sm-12
        .text-center.mb-5
          p.testimonial-text
            | "I switched to Checkly after using Pingdom a long time; I like your product a lot better."
          .testimonial-name-badge
            .text-muted Gersham Meharg | CTO
              a(href='https://www.telemetrytv.com/', target='_blank')
                img.testimonial-logo(src='/images/testimonials/telemetrytv_logo.png', alt='customer logo')
