section.trusted-by-section
  .container
    .row
      .col-sm-12.col-lg-10.offset-lg-1
        h5.section-super-header.mb-3 Trusted by great companies like
    .row
      .col-sm-12
        img.trusted-by-image(src='/images/testimonials/customer_logos_horizontal_1@2x.png', alt='trusted by companies for api and browser transaction monitoring')
