include  ../partials/head
body
    include ../partials/navbar.pug
    .main
        .plans.pt-3
            .container
                .row
                    .col-sm-12.col-md-8.offset-md-2.plans-header.text-center.mb-4
                        h2 Simple, fair pricing 🍍
                        p.mb-4
                          | Sign up for a yearly plan and receive one month for free.
                        .billing-cycle-toggler
                          #billing-monthly.toggle.toggle-left.toggle-selected Monthly
                          #billing-annual.toggle.toggle-right Annual
                        .savings-box
                          .text-accent One month free
                          svg(fill='#FF659D' width="22" height="16" viewBox="0 0 22 16")
                            path(d="M2.39,17,1,17l.07-2c11.37.39,17.9-4.17,20-14l2,.42C20.83,11.76,13.9,17,2.39,17Z" transform="translate(-1 -1)")

                .row.no-gutters
                    .col-sm-3
                      .card.px-3.card-developer
                        .card-block
                          strong.text-uppercase.text-warning Developer
                          .price-block
                            span.price(data-starter-price) 10
                            span(data-billing-interval) / month
                          .strike-out-price(data-starter-strikeout-price) $10 / month
                          table.table.table-sm.plans-features-table
                            tr
                              td.has-feature  15 API checks
                            tr
                              td.has-feature  5 Browser checks
                            tr
                              td.has-feature  5 Team members
                            tr
                              td.has-feature  50 SMS credits
                            tr
                              td.has-feature  16 global data centers
                            tr
                              td.has-feature  Public dash with a custom domain
                            tr
                              td.has-feature  SSL checks
                            tr
                              td.no-feature &nbsp;
                          a.btn.btn-outline-primary.btn-block(href='https://app.checklyhq.com/signup') Start your free trial
                    .col-sm-3
                        .card.px-3.card-starter
                            .card-block
                                strong.text-uppercase.text-accent Starter
                                .price-block
                                  span.price(data-starter-price) 24
                                  span(data-billing-interval) / month
                                .strike-out-price(data-starter-strikeout-price) $24 / month
                                table.table.table-sm.plans-features-table
                                    tr
                                      td.has-feature  15 API checks
                                    tr
                                      td.has-feature  5 Browser checks
                                    tr
                                      td.has-feature  5 Team members
                                    tr
                                      td.has-feature  50 SMS credits
                                    tr
                                      td.has-feature  16 global data centers
                                    tr
                                      td.has-feature  Public dash with a custom domain
                                    tr
                                      td.has-feature  SSL checks
                                    tr
                                      td.no-feature &nbsp;
                                a.btn.btn-outline-primary.btn-block(href='https://app.checklyhq.com/signup') Start your free trial
                    .col-sm-3
                        .card.px-3.mb-3.mb-md-0.card-growth
                            .card-block
                                strong.text-uppercase.text-success Growth
                                .price-block
                                  span.price(data-growth-price) 59
                                  span(data-billing-interval) / month
                                .strike-out-price(data-growth-strikeout-price) $59 / month
                                table.table.table-sm.plans-features-table
                                    tr
                                      td.has-feature
                                        strong All starter features
                                    tr
                                        td.has-feature 40 API checks
                                    tr
                                      td.has-feature  10 Browser checks
                                    tr
                                      td.has-feature  10 Team members
                                    tr
                                      td.has-feature  150 SMS credits
                                    tr
                                      td.has-feature  Pagerduty integration
                                    tr
                                      td.has-feature  Prometheus integration
                                    tr
                                      td.has-feature  Setup / Teardown scripts
                                a.btn.btn-success.btn-block(href='https://app.checklyhq.com/signup') Start your free trial
                    .col-sm-3
                        .card.px-3.mb-3.mb-md-0.card-business
                            .card-block
                                strong.text-uppercase.text-primary Business
                                .price-block
                                  span.price(data-business-price) 119
                                  span(data-billing-interval) / month
                                .strike-out-price(data-business-strikeout-price) $119 / month
                                table.table.table-sm.plans-features-table
                                    tr
                                      td.has-feature
                                        strong All growth features
                                    tr
                                      td.has-feature  100 API checks
                                    tr
                                      td.has-feature  20 Browser checks
                                    tr
                                      td.has-feature  20 Team members
                                    tr
                                      td.has-feature  300 SMS credits
                                    tr
                                      td.has-feature  SSO / SAML authentication
                                    tr
                                      td.no-feature &nbsp;
                                    tr
                                      td.no-feature &nbsp;
                                a.btn.btn-outline-primary.btn-block(href='https://app.checklyhq.com/signup') Start your free trial
                .row
                    .col-sm-12.text-center
                        h2.py-5 Pricing FAQ
                    | !{'{{ $cols := split .RawContent "<split>" }}'}
                    | !{'{{range $cols}}'}
                    .col-sm-6.markdown.text-left #{'{{ . | markdownify }}'}
                    | !{'{{end}}'}

    include ../partials/trusted-by-section.pug
    include ../partials/testimonial-trial-row.pug
    include ../partials/footer.pug
