include  ../partials/head
body
    include ../partials/navbar.pug
    .main
        .plans.pt-5
            .container
                .row
                    .col-sm-12.col-md-8.offset-md-2.plans-header.text-center.mb-4
                        h2 Simple, fair pricing 🍍
                        p.mb-4
                          | Take advantage of our &nbsp;
                          strong.text-accent super low launch pricing &nbsp;
                          | - prices will go up in 2019.
                        .billing-cycle-toggler
                          #billing-monthly.toggle.toggle-left.toggle-selected Monthly
                          #billing-annual.toggle.toggle-right Annual
                        .savings-box
                          .text-accent One month free
                          svg(fill='#FF659D' width="22" height="16" viewBox="0 0 22 16")
                            path(d="M2.39,17,1,17l.07-2c11.37.39,17.9-4.17,20-14l2,.42C20.83,11.76,13.9,17,2.39,17Z" transform="translate(-1 -1)")

                .row
                    .col-sm-4
                        .card.p-3.mb-3.mb-md-0.card-starter
                            .card-block
                                h2.text-accent Starter
                                table.table.table-sm.plans-features-table
                                    tr
                                        td 15 API checks
                                    tr
                                        td 5 Browser checks
                                    tr
                                        td 5 Team members
                                    tr
                                        td 50 SMS credits
                                .price-block
                                    span.dollar-sign $
                                    span.price(data-starter-price) 15
                                    span(data-billing-interval) month
                                .strike-out-price $30 / month
                                a.btn.btn-outline-primary.btn-block(href='https://app.checklyhq.com/signup') Start your free trial
                    .col-sm-4
                        .card.p-3.mb-3.mb-md-0.card-growth.big-drop-shadow
                            .card-block
                                h2.text-success Growth
                                table.table.table-sm.plans-features-table
                                    tr
                                        td 40 API checks
                                    tr
                                        td 15 Browser checks
                                    tr
                                        td 10 Team members
                                    tr
                                      td 150 SMS credits
                                .price-block
                                    span.dollar-sign $
                                    span.price(data-growth-price) 40
                                    span(data-billing-interval) month
                                .strike-out-price $70 / month
                                a.btn.btn-success.btn-block(href='https://app.checklyhq.com/signup') Start your free trial
                    .col-sm-4
                        .card.p-3.mb-3.mb-md-0.card-business
                            .card-block
                                h2.text-primary Business

                                table.table.table-sm.plans-features-table
                                    tr
                                        td 100 API checks
                                    tr
                                        td 30 Browser checks
                                    tr
                                        td 20 Team members
                                    tr
                                      td 300 SMS credits
                                .price-block
                                    span.dollar-sign $
                                    span.price(data-business-price) 80
                                    span(data-billing-interval) month
                                .strike-out-price $130 / month
                                a.btn.btn-outline-primary.btn-block(href='https://app.checklyhq.com/signup') Start your free trial
                .row.pt-5
                    .col-sm-12
                        .text-center
                            p Every plan comes with
                        .text-center
                            ul.list-inline.plans-features-common-list
                                li.list-inline-item 8 regions
                                li.list-inline-item 1m interval for API checks / 5m interval for Browser checks
                                li.list-inline-item 1 public dash with a custom domain
                                li.list-inline-item SSL expiration checks
                                li.list-inline-item Pagerduty, SMS, email, webhook and Slack integration
                                li.list-inline-item Weekly summary email
                .row
                    .col-sm-12.text-center
                        h2.py-5 Pricing FAQ
                    | !{'{{ $cols := split .RawContent "<split>" }}'}
                    | !{'{{range $cols}}'}
                    .col-sm-6.markdown.text-left #{'{{ . | markdownify }}'}
                    | !{'{{end}}'}

    include ../partials/testimonial-trial-row.pug
    include ../partials/footer.pug
