include  ../partials/head
body
    include ../partials/navbar.pug
    .main
        .plans.py-5
            .container
                .row
                    .col-sm-12.col-md-8.offset-md-2.plans-header.text-center.mb-4
                        h2 Simple, fair pricing 🍍
                        p.py-4
                            | Checkly has plans for companies at any level, from small startups to corporates. Didn't
                            | find a plan that matches your needs? Just <a href="mailto:info@checklyhq.com">send an email</a> and we'll cook
                            | up something tailor made.
                .row
                    .col-sm-4
                        .card.p-3.mb-3.mb-md-0.card-starter
                            .card-block
                                h2.text-accent Starter
                                table.table.table-sm.plans-features-table
                                    tr
                                        td 15 API checks
                                    tr
                                        td 5 Browser checks
                                    tr
                                        td 5 Team members
                                .price-block
                                    span.dollar-sign $
                                    span.price 15
                                    | / month
                                a.btn.btn-outline-primary.btn-block(href='https://app.checklyhq.com/signup') Start your free trial
                    .col-sm-4
                        .card.p-3.mb-3.mb-md-0.card-growth.big-drop-shadow
                            .card-block
                                h2.text-success Growth
                                table.table.table-sm.plans-features-table
                                    tr
                                        td 40 API checks
                                    tr
                                        td 15 Browser checks
                                    tr
                                        td 10 Team members
                                .price-block
                                    span.dollar-sign $
                                    span.price 40
                                    | / month
                                a.btn.btn-success.btn-block(href='https://app.checklyhq.com/signup') Start your free trial
                    .col-sm-4
                        .card.p-3.mb-3.mb-md-0.card-business
                            .card-block
                                h2.text-primary Business

                                table.table.table-sm.plans-features-table
                                    tr
                                        td 100 API checks
                                    tr
                                        td 30 Browser checks
                                    tr
                                        td 20 Team members
                                .price-block
                                    span.dollar-sign $
                                    span.price 80
                                    | / month
                                a.btn.btn-outline-primary.btn-block(href='https://app.checklyhq.com/signup') Start your free trial
                .row.pt-5
                    .col-sm-12
                        .text-center
                            p Every plan comes with
                        .text-center
                            ul.list-inline.plans-features-common-list
                                li.list-inline-item 8 regions
                                li.list-inline-item 5 minute schedules
                                li.list-inline-item 1 public dashboard
                                li.list-inline-item SSL expiration checks
                                li.list-inline-item Email, webhook and Slack integration
                                li.list-inline-item Weekly summary email
                .row
                    .col-sm-12.text-center
                        h2.py-5 Pricing FAQ
                    | !{'{{ $cols := split .RawContent "<split>" }}'}
                    | !{'{{range $cols}}'}
                    .col-sm-6.markdown.text-left #{'{{ . | markdownify }}'}
                    | !{'{{end}}'}

    include ../partials/free-trial-row
    include ../partials/footer.pug
