include  ../partials/head
body
    include ../partials/navbar.pug
    .main
        .plans.py-5
            .container
                .row
                    .col-sm-12.plans-header
                        h2 Simple, fair pricing
                        p Find the perfect plan — 100% satisfaction guaranteed 🍍
                .row
                    .col-sm-12
                        .plans-table.d-block
                            .card-deck

                                // Starter

                                .card.plans-card
                                    .card-header.text-center
                                        h5.text-accent Starter
                                        .price-block
                                            span.dollar-sign $
                                            span.price 20
                                            | / mo
                                    .card-block.text-center
                                        table.table.text-left
                                            tr
                                                td 15 API checks
                                            tr
                                                td 5 Browser checks
                                            tr
                                                td 8 regions

                                    .card-footer.text-center
                                        a.btn.btn-success(href='https://app.checklyhq.com/signup') Free 15-day trial

                                // Growth

                                .card.plans-card
                                    .card-header.text-center
                                        h5.text-success Growth
                                        .price-block
                                            span.dollar-sign $
                                            span.price 40
                                            | / mo
                                    .card-block.text-center
                                        table.table.text-left
                                            tr
                                                td 40 API checks
                                            tr
                                                td 15 Browser checks
                                            tr
                                                td 8 regions

                                    .card-footer.text-center
                                        a.btn.btn-success(href='https://app.checklyhq.com/signup') Free 15-day trial

                                // Business

                                .card.plans-card
                                    .card-header.text-center
                                        h5.text-primary Business
                                        .price-block
                                            span.dollar-sign $
                                            span.price 80
                                            | / mo
                                    .card-block.text-center
                                        table.table.text-left
                                            tr
                                                td 100 API checks
                                            tr
                                                td 30 Browser checks
                                            tr
                                                td 8 regions

                                    .card-footer.text-center
                                        a.btn.btn-success(href='https://app.checklyhq.com/signup') Free 15-day trial

                .row
                    .col-sm-12.text-center
                        p.py-3 Don't see a plan that works for you? Contact us at info@checklyhq.com
                .row
                    .col-sm-12.text-center
                        h2.py-5 Pricing FAQ
                    | !{'{{ $cols := split .RawContent "<split>" }}'}
                    | !{'{{range $cols}}'}
                    .col-sm-6.markdown.text-left #{'{{ . | markdownify }}'}
                    | !{'{{end}}'}

    include ../partials/free-trial.pug
    include ../partials/footer.pug
