include  ../partials/head
body
    include ../partials/navbar.pug
    .main
        .plans.py-5
            .container
                .row
                    .col-sm-12.plans-header.text-center.mb-3
                        h2 Simple, fair pricing
                        p Find the perfect plan — 100% satisfaction guaranteed 🍍
                .row
                    .col-sm-4
                        .card.p-3.mb-3.mb-md-0.card-starter
                            .card-block
                                h2.text-accent Starter
                                //p.py-3 Start actively monitoring your site, api's and mobile back end. Add up to 5 team mates.
                                table.table.table-sm.plans-features-table
                                    tr
                                        td 15 API checks
                                    tr
                                        td 5 Browser checks
                                    tr
                                        td 5 Team members
                                .price-block
                                    span.dollar-sign $
                                    span.price 15
                                    | / month
                                a.btn.btn-outline-primary.btn-block(href='https://app.checklyhq.com/signup') Start your free trial
                    .col-sm-4
                        .card.p-3.mb-3.mb-md-0.card-growth.big-drop-shadow
                            .card-block
                                h2.text-success Growth
                                table.table.table-sm.plans-features-table
                                    tr
                                        td 40 API checks
                                    tr
                                        td 15 Browser checks
                                    tr
                                        td 10 Team members
                                .price-block
                                    span.dollar-sign $
                                    span.price 40
                                    | / month
                                a.btn.btn-success.btn-block(href='https://app.checklyhq.com/signup') Start your free trial
                    .col-sm-4
                        .card.p-3.mb-3.mb-md-0.card-business
                            .card-block
                                h2.text-primary Business

                                table.table.table-sm.plans-features-table
                                    tr
                                        td 100 API checks
                                    tr
                                        td 30 Browser checks
                                    tr
                                        td 20 Team members
                                .price-block
                                    span.dollar-sign $
                                    span.price 80
                                    | / month
                                a.btn.btn-outline-primary.btn-block(href='https://app.checklyhq.com/signup') Start your free trial
                .row.pt-5
                    .col-sm-12
                        .text-center
                            h5 Every plan comes with
                        .text-center
                            ul.list-inline.plans-features-common-list
                                li.list-inline-item 8 regions
                                li.list-inline-item 5 minute schedules
                                li.list-inline-item 1 public dashboard
                                li.list-inline-item Email, webhook and Slack integration
                                li.list-inline-item Weekly summary email
                .row
                    .col-sm-12.text-center
                        h2.py-5 Pricing FAQ
                    | !{'{{ $cols := split .RawContent "<split>" }}'}
                    | !{'{{range $cols}}'}
                    .col-sm-6.markdown.text-left #{'{{ . | markdownify }}'}
                    | !{'{{end}}'}

    include ../partials/free-trial.pug
    include ../partials/footer.pug
