{{ define "main" }}
  <div class="main py-5">
    <div class="opensource">
    	<section class="opensource__hero">
      	<div class="container">
      		<h1 class="display-3">Open Source</h1>
      		<p class="opensource__hero__lead">
      			Checkly's foundation is open-source. We are not only using but building and supporting open-source. To grow the OSS and headless automation community even further, give back and allow developers to keep doing incredible things.  🚀
      		</p>
      		<div class="cta-wraps">
      			<a class="cta-link" href="https://github.com/checkly" rel="noopener">
              <img src="/images/arrow-up-right.svg" alt="arrow up right" width="8" height="8" />
              Get involved on GitHub
            </a>
            <a class="cta-link" href="https://github.com/checkly" rel="noopener">
            	<img src="/images/arrow-down.svg" alt="arrow down" width="10" height="11" />
              See our projects
            </a>
      		</div>
      	</div>
      </section>
      <section class="opensource__initiatives">
      	<div class="container">
      		<h2 class="section-header">Our open-source initiatives</h2>
      		<div class="d-flex">
      			<div class="card">
      				<img class="card-image" src="/opensource/headless_recorder@2x.png" alt="card1" width="310" height="200" />
      				<h5>
                Headless recorder
                <span>
                  <img src="/images/github-star.svg" alt="github start" width="16" height="15" />
                </span>
                <span id="headless-recorder"></span>
              </h5>
      				<p>
      					Headless recorder is a Chrome extension that records your browser interactions
      				</p>
      				<div class="cta-wraps">
      					<a class="cta-link" href="https://github.com/checkly/headless-recorder" rel="noopener">
		              <img src="/images/arrow-download.svg" alt="arrow download" width="10" height="14" />
		              Get Headless recorder
		            </a>
		            <a class="cta-link" href="https://github.com/checkly/headless-recorder" rel="noopener">
		              See the code
		            </a>
      				</div>
      			</div>
      			<div class="card">
      				<img class="card-image" src="/opensource/theheadless_dev@2x.png" alt="card1" width="310" height="200" />
      				<h5>
                theheadless.dev
                <span>
                  <img src="/images/github-star.svg" alt="github start" width="16" height="15" />
                </span>
                <span id="theheadless-dev"></span>
              </h5>
      				<p>Community driven knowledge base for learning headless browser automation</p>
      				<div class="cta-wraps">
      					<a class="cta-link" href="https://github.com/checkly/theheadless.dev" rel="noopener">
		              <img src="/images/arrow-download.svg" alt="arrow download" width="10" height="14" />
		              Visit theheadless.dev
		            </a>
		            <a class="cta-link" href="https://github.com/checkly/theheadless.dev" rel="noopener">
		              See the code
		            </a>
      				</div>
      			</div>
      			<div class="card">
      				<img class="card-image" src="/opensource/terraform_provider@2x.png" alt="card1" width="310" height="200" />
      				<h5>
                Terraform Provider
                <span>
                  <img src="/images/github-star.svg" alt="github start" width="16" height="15" />
                </span>
                <span id="terraform-provider"></span>
              </h5>
      				<p>The Terraform provider enables users to manage Checkly resources</p>
      				<div class="cta-wraps">
      					<a class="cta-link" href="https://github.com/checkly/terraform-provider-checkly" rel="noopener">
		              <img src="/images/arrow-visit.svg" alt="arrow visit" width="13" height="13" />
		              Get Terraform provider
		            </a>
		            <a class="cta-link" href="https://github.com/checkly/terraform-provider-checkly" rel="noopener">
		              See the code
		            </a>
      				</div>
      			</div>
      		</div>
      	</div>
      </section>
      <section class="opensource__mmr">
      	<div class="container text-center">
      		<h2 class="section-header">1% goes to Open Source</h2>
      		<p>
      			We are all in! We donate 1% of our MRR to those developers creating the software that makes internet awesome
      		</p>
      		<a href="https://github.com/checkly" rel="noopener">
      			See our sponsored projects
      		</a>
      	</div>
      </section>
      <section class="opensource__posts">
      	<div class="container">
      		<h2 class="section-header">
      		  Recent posts from
      		  <span>
		          theheadless.dev
		        </span>
      		</h2>
      		<p class="lead">Puppeteer and Playwright tips, tricks and in-depth guides from the trenches</p>
          <div class="d-flex">
          {{ range $index := seq 6 }}
            <div class="card">
              <h6 id="card-{{$index}}-title"></h6>
              <p id="card-{{$index}}-description"></p>
              <div class="cta-wraps">
                <a class="cta-link" id="card-{{$index}}-link" rel="noopener">
                  <img src="/images/arrow-up-right.svg" alt="arrow up right" width="8" height="8" />
                  Read article
                </a>
            </div>
            </div>
          {{ end}}
          </div>
      	</div>
      </section>
    </div>
    {{ partial "start-for-free-row" . }}
  </div>
{{end}}
