include  ../partials/head
body
    include ../partials/navbar
    .main
        .container
            .row
                .col-sm-12.text-center
                    span.markdown.py-5 #{'{{.Content}}'}
    include ../partials/footer
