.footer {
  background-color: $black;
  color: $white;
  .footer-top {
    padding: 4 * $spacer 0;
    h6 {
      color: $ash;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
    }
    a {
      color: $gray-light;
    }
    input {
      background-color: $white;
      width: 70%;
    }
  }

  .footer-bottom {
    padding: 1.5rem 0;
    border-top: 1px solid $gray-light;
    color: $gray-light;
  }
}
