.markdown {

  h2, h3 {
    border-bottom: 1px solid $gray-light;
    padding-bottom: .3em;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.35rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  p {
    color: $body-color;
    margin-bottom: 1rem;
    word-wrap: break-word;
  }

  blockquote {
    padding: 0em 1em;
    border-left: 0.25em solid $brand-primary;
  }

  pre {
    padding: 1rem;
    overflow: auto;
    font-size: 85%;
    font-weight: 600;
    line-height: 1.45;
    border-radius: $border-radius;
    background-color: $gray-lighter;
    margin-bottom: 1rem;
  }
}
