.navbar {
  min-height: 90px;
  transition: all .5s;
  z-index: 9999;

  .navbar-toggler {
    span {
      display: block;
      width: 1.75rem;
      height: 4px;
      margin-bottom: 6px;
      position: relative;

      background: $brand-primary;
      border-radius: 3px;

      z-index: 1;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .nav-link {
    color: $gray;
    width: 100px;
    font-weight: 400;
    &:hover {
      color: $gray-dark;
    }
  }
}
