.navbar {
  min-height: 90px;
  transition: all .5s;
  z-index: 9999;
  background-color: $white;

  .beta {
    font-size: 15px;
    font-weight: $font-weight-bold;
    margin-left: .5rem;
    display: inline;
    color: $pink;
    line-height: 1.1rem;
    vertical-align: text-bottom;
  }

  .navbar-toggler {
    span {
      display: block;
      width: 1.75rem;
      height: 4px;
      margin-bottom: 6px;
      position: relative;

      background: $brand-primary;
      border-radius: 3px;

      z-index: 1;
    }
    &:hover {
      cursor: pointer;
    }
    &.navbar-toggler-right {
      right: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    &.navbar-toggleable-md > .container {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .nav-link {
    color: $gray;
    font-weight: 400;
    &:hover {
      color: $gray-dark;
    }
  }

  &.navbar-fixed-drop-shadow {
    box-shadow: 0 1px 2px 0px rgba(31, 45, 61, 0.15);
    min-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    .btn {
      padding: 0.5rem .75rem;
    }
  }
}
