.plans {

  table.plans-features-table {
    tbody {
      tr:first-child td {
        border-top: none;
      }
      td {
        padding-left: 0;
      }
    }
  }

  .price-block {
    font-size: $font-size-sm;
    color: $gray;
    .dollar-sign {
      display: inline-block;
      font-size: 1.25rem;
      font-weight: $font-weight-normal;
      transform: translateY(3px) translateX(-3px);
      vertical-align: super;
      color: $gray-dark;
    }
    .price {
      font-size: 3rem;
      margin-right: .2rem;
      color: $gray-dark;
    }
  }

}
