.plans {

  .card-starter {
    border-top: 6px solid $pink;
  }

  .card-growth {
    border-top: 6px solid $green;
  }

  .card-business {
    border-top: 6px solid $brand-primary;
  }

  table.plans-features-table {
    margin-bottom: 0;
    tbody {
      tr:first-child td {
        border-top: none;
      }
      td {
        padding-left: 0;
        color: $gray-dark;
      }
    }
  }

  ul.plans-features-common-list {
    li {
      padding: .5 * $spacer-y;
      &::before {
        content: '\F121';
        font-family: Ionicons;
        display: inline-block;
        margin-right: .5 * $spacer-x;
        color: $brand-success;
      }
    }
  }

  .price-block {
    font-size: $font-size-sm;
    color: $gray;
    margin-bottom: $spacer-y;
    .dollar-sign {
      display: inline-block;
      font-size: 1.25rem;
      font-weight: $font-weight-normal;
      transform: translateY(3px) translateX(-3px);
      vertical-align: super;
      color: $gray-dark;
    }
    .price {
      font-size: 3rem;
      margin-right: .2rem;
      color: $gray-dark;
    }
  }

}
