@import 'variables.scss';
.product {
  $product-max-width: 760px;

  &.markdown {

    h1 {
      &.hero-text {
        &:not(:first-child) {
          padding-top: 3 * $spacer;
        }
        margin-bottom: 2 * $spacer;
        font-weight: $font-weight-seimi-bold;
        font-size: 3.625rem;
        letter-spacing: -0.04em;
        color: $black;
      }
    }

    h2 {
      &.section-header {
        font-size: 2rem;
        border-bottom: none;
      }
      &.lead-text {
        max-width: $product-max-width;
        margin-left: auto;
        margin-right: auto;
        color: $body-text;
      }
    }

    h3 {
      &.section-header {
        font-size: 1.25rem;
        margin-top: 0;
        border-bottom: 0;
      }
    }

    h5 {
      font-size: .875rem;
      text-transform: uppercase;
      font-weight: $font-weight-seimi-bold;
      &::before {
        content: "\f4b3" !important;
        color: $yellow;
        padding-right: .5rem;
        font-family: Ionicons;
        position: relative;
        font-size: inherit;
      }
    }

    .feature-row-item-wrapper {
      p {
        color: $gray-darkish;
      }
    }

    p {
      color: $body-text;
      &.hero-sub {
        font-size: 1.125rem;
        margin-bottom: 1rem;
        color: $body-text;
      }

      &.hero-sub-center {
        max-width: $product-max-width;
        margin-left: auto;
        margin-right: auto;
      }

      &.lead-text {
        color: $body-text;
        max-width: $product-max-width;
        margin-left: auto;
        margin-right: auto;
      }
    }

    figure {
      &.text-center {
        margin-left: auto;
        margin-right: auto
      }
      &.lead-text {
        max-width: $product-max-width;
        margin-left: calc(50% - 380px);
      }
    }
  }
}
