.promo-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 56px;
  z-index: 999999;
  width: 100%;
  padding: .5rem;
  font-size: 15px;
  .promo-banner-link {
    display: flex;
    text-decoration: none;
  }
  &.funding {
    background-color: $blue-light;
    color: $gray-dark;
  }
}
