@import './checkly-webapp-src/style/scss/variables';
@import 'variables.scss';

section {
  .section-lead-text {
    font-size: 16px;
    color: $body-text;
    font-weight: 300;
  }

  .section-super-header{
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: $gray-darkish;
    text-transform: uppercase;
  }

  .section-header {
    font-size: 2rem;
    font-weight: 600;
  }

  .lead-text {
    font-size: 1.125rem;
  }

  h5 {
    font-weight: 600;
  }

  @include media-breakpoint-down(sm) {
    .section-header {
      font-size: 2rem;
    }
  }
}
