.sidebar-menu {
  a {
    color: $gray;
    &.active {
      color: $brand-primary;
    }
  }
  list-style-type: none;
  padding-left: 0;
  .sidebar-menu-item {
    padding-left: 0;
    margin-bottom: .75rem;
    h3 {
      color: $gray-dark;
      font-size: 17px;
      font-weight: 400;
      display: block;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .sidebar-menu-sub {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: .5rem;
    .sidebar-menu-sub-item {
      margin-bottom: .2rem;
      a {
        color: $gray;
        text-decoration: none;
        padding: .2rem 0;

        &:hover {
          color: $gray-dark;
          font-weight: 400;
        }
      }
      &.active {
        a {
          color: $brand-primary;
          font-weight: 400;
        }
      }
    }
  }
}
