@import '../../../checkly-webapp/src/style/scss/variables';

// colors
$light-blue: #EBFAFF;

// typography
$body-text: darken($gray, 15%);

// sections
$section-top-padding: 2rem;
$section-bottom-padding: 2rem;
$section-bottom-margin: 4rem;
