include  partials/head
body
    include partials/navbar.pug
    .main
        .container
            .row
                .col-sm-12
                    h1 Whoops, that page does not exist

    include partials/footer.pug
