include  partials/head
body
    include partials/navbar.pug
    .main
        .container
            .row
                .col-sm-12.text-center
                    h1.pt-5 404
                    h2.py-5.text-muted Whoops, that page does not exist!
    include partials/footer.pug
