include  partials/head
body
    include partials/navbar.pug
    .main
        #landing.landing
            include partials/hero-section.pug
            include partials/api-monitoring-section.pug
            include partials/site-monitoring-section.pug
            include partials/alerting-section.pug
            include partials/results-section.pug
            include partials/testimonial-trial-row.pug
            include partials/all-features.pug
            include partials/public-stats-section.pug
    include partials/footer.pug
