include  partials/head
body
    include partials/navbar.pug
    .main
        #landing.landing
            include partials/hero-section.pug
            include partials/browser-check-section.pug
            include partials/api-check-section.pug
            include partials/features-section.pug
            include partials/testimonial-trial-row.pug
            include partials/public-stats-section.pug
    include partials/footer.pug
