{{ define "main" }}
<div class="main pt-5">
  <div class="about">
    <section>
      <div class="container">
        <div class="row text-left justify-content-center pt-5">
          <div class="col-sm-12 col-lg-8">
            <img src="/images/racoon_logo.svg" alt="Checkly racoon logo" class="mb-4" width="50px">
            <h1>About Checkly</h1>
            <p class="mb-4">Checkly was founded in Berlin in 2018 to give the active monitoring and end-to-end-testing space a kick in the butt.
            We believe in a bright future where apps are built and shipped more reliably from dev to production and further.</p>
            <p>Our vision is to create the active reliability platform for modern DevOps teams. A platform with world class developer experience!</p>
            <div class="divider pt-5"></div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row text-left justify-content-center pt-5">
          <div class="col-sm-12 col-lg-8">
            <h2>How we work</h2>
            <p>We care about delivering an awesome service. We work on Checkly and open source projects like Puppeteer Recorder.
              We don't take ourselves too serious; we take our work and our customers very seriously.
            </p>
            <p>
              We ❤️open source and aim to donate 1% of our revenue to non-corporate backed open source maintainers.
              See <a href="https://github.com/tnolet?tab=sponsoring](https://github.com/tnolet?tab=sponsoring">this page</a> for our current sponsorship status.
            </p>
            <p>Interested in joining us? <a href="/jobs">Learn more here</a> 👈</p>
            <div class="divider pt-5"></div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row text-left justify-content-center pt-5">
          <div class="col-sm-12 col-lg-8">
            <h2 class="mb-5">Founding team</h2>
            <div class="row">
              <div class="col-md-6 col-lg-4 align-items-center text-center">
                <img src="/about/images/tnolet.jpg" alt="portrait Tim Nolet" class="avatar mb-3">
                <h6 class="font-weight-bold mb-1">Tim Nolet</h6>
                <p>Product & Engineering</p>
              </div>
              <div class="col-md-6 col-lg-4 align-items-center text-center">
                <img src="/about/images/hlenke.jpg" alt="portrait Tim Nolet" class="avatar mb-3">
                <h6 class="font-weight-bold mb-1">Hannes Lenke</h6>
                <p>General Manager</p>
              </div>
              <div class="col-md-6 col-lg-4 align-items-center text-center">
                <img src="/about/images/teuteneuer.jpg" alt="portrait Timo Euteneuer" class="avatar mb-3">
                <h6 class="font-weight-bold mb-1">Timo Euteneuer</h6>
                <p>Go To Market</p>
              </div>
            </div>
            <div class="divider pt-5"></div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row text-left justify-content-center pt-5">
          <div class="col-sm-12 col-lg-8">
            <h2>Our investors</h2>
            <p>We are happy to work with some of the best investors in the world. You might know some of their products...</p>
            <div class="row text-left justify-content-center">
              <div class="col-md-4">
                <dl>
                  <dt>Andrei Brasoveanu</dt>
                  <dd>Accel</dd>
                  <dt>Guillermo Rauch</dt>
                  <dd>CEO @ Zeit</dd>
                  <dt>Robin Vasan</dt>
                  <dd>Hashicorp board member</dd>
                </dl>
              </div>
              <div class="col-md-4">
                <dl>
                  <dt>Christian Henschel</dt>
                  <dd>CEO @ Adjust</dd>
                  <dt>Paul Müller</dt>
                  <dd>CTO @ Adjust</dd>
                  <dt>Philip Moehring</dt>
                  <dd>Tiny VC</dd>
                </dl>
              </div>
              <div class="col-md-4">
                <dl>
                  <dt>Ott Kaukver</dt>
                  <dd>ex-CTO Twilio</dd>
                  <dt>Mirko Novakovic</dt>
                  <dd>CEO @ Instana</dd>
                  <dt>Charles Ramsey</dt>
                  <dd>ex-CEO Saucelabs</dd>
                </dl>
              </div>
            </div>
            <div class="divider pt-5"></div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row text-left justify-content-center pt-5 mb-5">
          <div class="col-sm-12 col-lg-8">
            <h2>Contact</h2>
            <p>info@checklyhq.com<br>
            Checkly Inc. has registered offices at:</p>
            <address>
              🇺🇸 United States<br>
              One Boston Place, Suite 2600<br>
              Boston, MA 02108<br>
            </address>
            <address>
              🇳🇱 The Netherlands<br>
              The J.P. Coenstraat 24 BIS<br>
              Utrecht<br>
            </address>
            <p>
              Chamber of Commerce: 74069349<br>
              VAT: NL859762609B01<br>
            </p>
            <address>
              🇩🇪 Germany<br>
              Kopernikusstraße 35 10243 Berlin<br>

              entrance at:<br>
              Comeniushof “Fabrik” Gubener Straße 47<br>
            </address>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{{end}}
